<?php echo $header; ?><?php echo $column_left; ?>
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="pull-right"><a id="btnSave" data-toggle="tooltip" title="<?php echo $button_save; ?>" class="btn btn-primary"><i class="fa fa-save"></i></a> <a id="btnLocateAffected" data-toggle="tooltip" title="<?php echo $button_locate_affected; ?>" class="btn btn-info"><i class="fa fa-search"></i></a> <a target="_blank" id="btn-download" href="<?php echo $download; ?>" data-toggle="tooltip" title="<?php echo $button_download; ?>" class="btn btn-info"><i class="fa fa-download"></i></a> <a href="<?php echo $cancel; ?>" data-toggle="tooltip" title="<?php echo $button_cancel; ?>" class="btn btn-warning"><i class="fa fa-close"></i></a>
      </div>
      <h1><?php echo $heading_title; ?></h1>
      <ul class="breadcrumb">
        <?php foreach ($breadcrumbs as $breadcrumb) { ?>
        <li><a href="<?php echo $breadcrumb['href']; ?>"><?php echo $breadcrumb['text']; ?></a></li>
        <?php } ?>
      </ul>
    </div>
  </div>
  <div id="contentContainer" class="container-fluid">
    <?php if ($error_warning) { ?>
    <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <?php if ($success) { ?>
    <div class="alert alert-success"><i class="fa fa-check-circle"></i> <?php echo $success; ?>
      <button type="button" class="close" data-dismiss="alert">&times;</button>
    </div>
    <?php } ?>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><i class="fa fa-list"></i> <?php echo $modification_name; ?></h3>
      </div>
      <div class="panel-body">
        <div class="tab-content">
          <div class="tab-pane active">
            <div id="codeEditor"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="affected-modal">
  <div class="modal-dialog modal-dialog-xl">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><?php echo $text_affected_files; ?></h4>
      </div>
      <div class="modal-body">
	      <span class="text-center" id="affected-files-loader"><h1><i class="fa fa-spinner fa-spin"></i></h1></span>
	      <span id="affected-files-html"></span>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<style>
.modal-dialog.modal-dialog-xl {
  width: 90%;
}
</style>
<script type="text/javascript">
var xmlEditor = CodeMirror(document.getElementById('codeEditor'), {
  value: <?php echo json_encode($modification_xml);?>,
    mode:  "xml",
    lineWrapping: true,
    lineNumbers: true
});

xmlEditor.addKeyMap({
  'Ctrl-S': function(instance) {
    saveMod();
    return false;
  },
  'Cmd-S': function(instance) {
    saveMod();
    return false;
  }
});

function clearNoty() {
  $('#OCMODEditorNoty').fadeOut({
    complete: function() {
      $(this).remove();
    }
  });
}

var mod_id = <?php echo $modification_id; ?>;

function saveMod() {
  var newCode = xmlEditor.getValue();
  $.ajax({
    url: '<?php echo html_entity_decode($save); ?>',
    type: 'post',
    dataType: 'json',
    data: {
      modification_id: mod_id,
      xml: newCode
    },
    success: function(resp) {
      clearNoty();

      if (!resp.error) {
        if (resp.msg) {
          var html = '<div id="OCMODEditorNoty" class="alert alert-success"><i class="fa fa-check-circle"></i> ' + resp.msg;
          html += '  <button type="button" class="close" data-dismiss="alert">&times;</button>';
          html += '</div>';
          $('#contentContainer').prepend(html);
          setTimeout(clearNoty, 1000);
        }
      } else {
        if (resp.msg) {
          var html = '<div id="OCMODEditorNoty" class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + resp.msg;
          html +=	'  <button type="button" class="close" data-dismiss="alert">&times;</button>';
          html += '</div>';
          $('#contentContainer').prepend(html);
        }
      }

      if (resp.new_id) {
        mod_id = resp.new_id;
      }

      if (resp.download_link) {
        $('#btn-download').attr('href', resp.download_link);
      }
    }
  });
}

function showAffected() {
  $('#affected-files-loader').show();
  $('#affected-files-html').html('').hide();
  $('#affected-modal').modal('show');
  $.ajax({
    url: '<?php echo html_entity_decode($locate_affected_url); ?>',
    type: 'get',
    dataType: 'html',
    data: {
      modification_id: mod_id
    },
    success: function(resp) {
      $('#affected-files-html').html(resp).show();
      $('#affected-files-loader').hide();
    }
  });
}

$('#btnSave').on('click', function() {
  saveMod();
});

$('#btnLocateAffected').on('click', function() {
  showAffected();
});
</script>
<?php echo $footer; ?>
