.error_input {
	border:1px solid red !important;
	box-shadow: 0 1px 1px rgba(255, 0, 0, 0.075) inset !important;	
}
.error_input:-moz-placeholder{color:red !important;}
.error_input::-moz-placeholder{color:red !important;opacity:1}
.error_input:-ms-input-placeholder{color:red !important;}
.error_input::-webkit-input-placeholder{color:red !important;}
#popup-quickorder .price-new {
  color: red;
  font-size: 14px;
}
#popup-quickorder .price-old {
  color: #333;
  font-size: 12px;
  text-decoration:line-through;
}
#popup-quickorder .product_image_fastorder img {
	max-width:160px;
}
#popup-quickorder {
  background: #fff none repeat scroll 0 0;
  margin: 0 auto;
  max-width: 650px;
  min-height: 100px;
  position: relative;
  width: 100%;
}
#popup-quickorder .popup-heading {
  background: transparent none repeat scroll 0 0;
  border-bottom: 1px solid #dfe4eb;
  color: #1c1c1c;
  font-size: 21px;
  line-height: 40px;
  min-height: 40px;
  overflow: hidden;
  padding: 0 25px;
  position: relative;
  text-align: left;
}
#popup-quickorder .popup-center {
  display: inline-block;
  height: 100%;
  width: 100%;
}
#popup-quickorder .popup-footer {
  display: inline-block;
  height: 100%;
  padding: 17px 25px;
  position: relative;
  vertical-align: bottom;
  width: 100%;
}

#popup-quickorder .popup-footer #quickorder_btn  {
	text-align:center;
}
#popup-quickorder .mfp-close {
  cursor: pointer !important;
  height: 40px;
  outline: medium none;
  position: absolute;
  right: 0;
  top: 0;
  width: 45px;
  z-index: 2;
}
#popup-quickorder .price-quantity-quickorder .price_fast{
	font-size:16px;
	font-weight:500;
	background:#f1f1f1;
	border:1px solid #d9d9d9;
	padding:5px;
	margin-top:3px;
	margin-bottom:3px;
	display:inline-block;
	vertical-align: middle;
}
#popup-quickorder .price-quantity-quickorder .special_fast {
	font-size:16px;
	font-weight:500;
	background:#f1f1f1;
	border:1px solid #d9d9d9;
	padding:5px;
	margin-top:3px;
	margin-bottom:3px;
	display:inline-block;
	vertical-align: middle;
}
#popup-quickorder .price-quantity-quickorder .price-old{
	font-size:16px;
	font-weight:500;
    text-decoration: line-through;
	vertical-align: middle;
	display:inline-block;
}
#popup-quickorder .price-quantity-quickorder .price-new{
	font-size:16px;
	font-weight:500;
	color: #f00;
	vertical-align: middle;
	display:inline-block;
}
#popup-quickorder .price-quantity-quickorder .quantity_quickorder {
	display:inline-block;
	vertical-align:middle;
}
#popup-quickorder .quantity_quickorder > input {
	border: 1px solid #d9d9d9;
	text-align: center;
	height:30px !important;
	float:left;
	margin-left:-1px;
}
#popup-quickorder .minus_quantity {
  border-right: 0 none !important;
  width: 20px;
}
#popup-quickorder .plus_quantity {
  border-left: 0 none !important;
  width: 20px;
}
#popup-quickorder .quantity_quickorder > input:hover {
	background:#fff;
}
#decrease_quickorder, #increase_quickorder {
  width: 27px !important;
  height:30px !important;
}

#popup-quickorder .sections_block_rquaired .fa {
	color:#fc5c3c !important;
}
#popup-quickorder .sections_block .fa {
	color:#67ca67 !important;
}
#popup-quickorder .sections_block , #popup-quickorder .sections_block_rquaired{
  overflow: hidden;
  position: relative;
}
#popup-quickorder .icon-append-1 {  
  font-size: 15px !important;
}
#popup-quickorder #error_name {
  background: #fff none repeat scroll 0 0;
  color: #fc5c3c;
  left: 5px;
  line-height: 29px;
  padding: 0 25px 0 0;
  position: absolute;
  top: 3px;
  z-index: 999;
}
#popup-quickorder #error_phone {
  background: #fff none repeat scroll 0 0;
  color: #fc5c3c;
  left: 5px;
  line-height: 29px;
  padding: 0 25px 0 0;
  position: absolute;
  top: 3px;
  z-index: 999;
}
#popup-quickorder #error_email {
  background: #fff none repeat scroll 0 0;
  color: #fc5c3c;
  left: 5px;
  line-height: 29px;
  padding: 0 25px 0 0;
  position: absolute;
  top: 3px;
  z-index: 999;
}
#popup-quickorder #error_comment_buyer {
  background: #fff none repeat scroll 0 0;
  color: #fc5c3c;
  left: 5px;
  line-height: 29px;
  padding: 0 25px 0 0;
  position: absolute;
  top: 3px;
  z-index: 999;
}
#popup-quickorder .owl-wrapper-outer {
  border: 0px;
  border-radius: 0px;
  box-shadow: none;
}
#popup-quickorder  .owl-carousel .owl-buttons div i {
	font-size:14px !important;
	margin:0px !important;
}
#popup-quickorder .owl-carousel .owl-buttons div {
	opacity:1;
}
#popup-quickorder .btn-carousel-quickorder {
	color: #333 !important;
	border-radius:0px !important;
	text-shadow:0 1px 0 rgba(255, 255, 255, 0.5) !important;
	background-color: #fff !important;
	opacity:0.6;
	border-color: #333 !important;
	padding:2px 4px 2px !important;
}
#popup-quickorder .btn-carousel-quickorder:hover, .btn-carousel-quickorder:active {
	opacity:0.7 !important;
}
#popup-quickorder .additional.owl-carousel {
	text-align:center;
}
#popup-quickorder .owl-buttons .owl-next {
	position:absolute !important;
	top:28px !important;
	right:0px !important;
}
#popup-quickorder .owl-buttons .owl-prev {
	position:absolute !important;
	top:28px !important;
	left:0px !important;
}




.loading_quick_order .fa {
  font-size: 35px;
  left: 45%;
  position: absolute;
  top: 35%;
  z-index: 9999;
}
.btn-quickorder {
	background-color: #1ea7d8;
	border-color: #0790c1;
	border-style: solid;
	border-width: 1px 1px 2px;
	color: #ffffff;
	font-size: 13px;
	padding: 9px 10px;
}
.btn-quickorder:hover, .btn-quickorder:focus{
	background-color: #2198C5;
	color: #ffffff;
}
.btn-quick-order {
	background:#ff6600;
	border-color: #f26202;
	border-radius:4px;
	border-style: solid;
	border-width: 1px 1px 2px;
	color: #ffffff;
	font-size: 14px;
	padding: 9px 10px;
	cursor:pointer;
}
.btn-quick-order:hover{
	background-color: #f26202;
	border-color:#f26202;
	color: #ffffff;
}
.margin-bottom-sm {
	margin-top:10px;
}
.btn-ordercart {
	border-radius:4px;
	border-style: solid;
	border-width: 1px 1px 2px;
	color: #ffffff;
	font-size: 14px;
	padding: 9px 10px;
	background-color: #5bb75b;
	border-color: #35A035;
}
.btn-ordercart:hover, .btn-ordercart:active{
	background-color: #35A035;
	color:#fff;
}
.fastorder {
	padding:5px 15px;
}
.fastorder .btn-quick-order {
	margin:0px 0px 5px ;
}

#popup-quickorder .radio-checbox-options {
  display: inline-block;
  margin-bottom: 5px;
}
#popup-quickorder .radio-checbox-options input {
  display: none;
}
#popup-quickorder .radio-checbox-options label {
  border-top: 1px solid #2b8cdb ;
  border-left: 1px solid #2b8cdb ;
  border-right: 1px solid #2b8cdb ;
  border-bottom: 2px solid #1475c4 ;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: normal;
  padding: 4px 5px;
}
#popup-quickorder .radio-checbox-options label .option-price {
  border-radius: 3px;
  display: inline-block;
  font-size: 12px;
  padding: 0 3px;
}
#popup-quickorder .radio-checbox-options input:checked + label {
  background-color: #2b8cdb ;
  border-color:#2b8cdb ;
  box-shadow:0 1px 1px rgba(0, 0, 0, 0.46) inset;
  color: #fff;
}
#popup-quickorder .radio-checbox-options input:checked + label {
  color: #fff;
}
#popup-quickorder .radio-checbox-options input:checked + label .option-price {
  background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}

#popup-quickorder .radio-checbox-options label:hover {
	background-color: #2b8cdb ;
	border-color:#2b8cdb ;
	box-shadow:0 1px 1px rgba(0, 0, 0, 0.46) inset;
	color: #fff;
}
#popup-quickorder .radio-checbox-options label:hover .option-price {
  background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
}
#popup-quickorder .image-radio{
	display: inline-block;
	margin:2px;
}
#popup-quickorder .image-radio input{
	display: none;
}
#popup-quickorder .image-radio img{
	cursor: pointer;
	padding:1px;
}

#popup-quickorder .image-radio input:checked +img{
	border-color: #2b8cdb;
	border-width:2px;
	border-style:solid;
	border-radius:4px;
}

@media (min-width: 768px) {
	#popup-quickorder .image-radio img{
		max-width: 39px;
	}
}
@media (min-width: 992px) {
	#popup-quickorder .image-radio img{
		max-width: 41px;
	}
}
@media (min-width: 1200px) { 
	#popup-quickorder .image-radio img{
		max-width: 44px;
	}
}
.maskPopupQuickorder {
	opacity:0.6;
}
#popup-quickorder .product .image {
  float: left;
  width: 60px;
}
#popup-quickorder .quick-cell-content {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  white-space: normal;
}
#popup-quickorder .quick-cell:after {
  content: "";
  display: inline-block;
  height: 60px;
  vertical-align: middle;
  width: 0;
}
#popup-quickorder .product .pr-name {
  margin-left: 75px;
  text-align:left;
}
#popup-quickorder .product .pr-name a{
  color:#333;
}
#popup-quickorder .quantity_quickorder input {
	text-align:center;
		width:40px;
	float:left;
	height:30px;
}
#popup-quickorder .btn-update-popup{
  font-size: 12px;
  line-height: 1.5;
  padding: 5px 10px;
  background-color: #fff;
  border-color: #ccc;
  color: #333;
}
#popup-quickorder .input-group-btn-quickorder:first-child > .btn-update-popup{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  float:left
}
#popup-quickorder .btn-update-popup:hover{
  background-color: #eee;
}
#popup-quickorder .input-group-btn:last-child > .btn-update-popup{
  margin-left: -1px;
  z-index: 2;
}
#popup-quickorder .input-group-btn:last-child > .btn-update-popup{
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
#popup-quickorder .input-group .form-control:focus {
  z-index: 3;
}
#popup-quickorder .delete-pr a{
	color:#333;
}
#popup-quickorder .delete-pr a:hover{
	color:#da4f49;
}
#popup-quickorder .totals a{
	color:#333;
	font-size:14px;
}

#popup-quickorder .quick-cell-content-one {
  display: inline-block;
  position: relative;
  vertical-align: middle;
  white-space: normal;
}
#popup-quickorder .quick-cell-one {
  white-space: nowrap;
}
#popup-quickorder .quick-cell-one:after {
  content: "";
  display: inline-block;
  height: 35px;
  vertical-align: middle;
  width: 0;
}
#popup-quickorder .product-name {
	font-size:14px;
	color:#333;
	padding:5px 
}
#popup-quickorder .price_fast{
  color: #333;
  font-size: 14px;
}



#product .btn-quick-order {
	width:100%;
	margin-top:10px;
}

.col-xsq-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xsq-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xsq-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xsq-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xsq-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xsq-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xsq-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xsq-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xsq-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xsq-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xsq-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xsq-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
.col-xsq-1, .col-xsq-2, .col-xsq-3, .col-xsq-4, .col-xsq-5, .col-xsq-6, .col-xsq-7, .col-xsq-8, .col-xsq-9, .col-xsq-10, .col-xsq-11, .col-xsq-12 {
  float: left;
}
.col-xsq-12 {
  width: 100%;
}
.col-xsq-11 {
  width: 91.66666667%;
}
.col-xsq-10 {
  width: 83.33333333%;
}
.col-xsq-9 {
  width: 75%;
}
.col-xsq-8 {
  width: 66.66666667%;
}
.col-xsq-7 {
  width: 58.33333333%;
}
.col-xsq-6 {
  width: 50%;
}
.col-xsq-5 {
  width: 41.66666667%;
}
.col-xsq-4 {
  width: 33.33333333%;
}
.col-xsq-3 {
  width: 25%;
}
.col-xsq-2 {
  width: 16.66666667%;
}
.col-xsq-1 {
  width: 8.33333333%;
}


.col-smq-1, .col-smq-2, .col-smq-3, .col-smq-4, .col-smq-5, .col-smq-6, .col-smq-7, .col-smq-8, .col-smq-9, .col-smq-10, .col-smq-11, .col-smq-12,
.col-mdq-1, .col-mdq-2, .col-mdq-3, .col-mdq-4, .col-mdq-5, .col-mdq-6, .col-mdq-7, .col-mdq-8, .col-mdq-9, .col-mdq-10, .col-mdq-11, .col-mdq-12 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 768px) {
.col-smq-1, .col-smq-2, .col-smq-3, .col-smq-4, .col-smq-5, .col-smq-6, .col-smq-7, .col-smq-8, .col-smq-9, .col-smq-10, .col-smq-11, .col-smq-12 {
    float: left;
  }
	.col-smq-12 {
    width: 100%;
  }
  .col-smq-11 {
    width: 91.66666667%;
  }
  .col-smq-10 {
    width: 83.33333333%;
  }
  .col-smq-9 {
    width: 75%;
  }
  .col-smq-8 {
    width: 66.66666667%;
  }
  .col-smq-7 {
    width: 58.33333333%;
  }
  .col-smq-6 {
    width: 50%;
  }
  .col-smq-5 {
    width: 41.66666667%;
  }
  .col-smq-4 {
    width: 33.33333333%;
  }
  .col-smq-3 {
    width: 25%;
  }
  .col-smq-2 {
    width: 16.66666667%;
  }
  .col-smq-1 {
    width: 8.33333333%;
  }
}
@media (min-width: 992px) {
.col-mdq-1, .col-mdq-2, .col-mdq-3, .col-mdq-4, .col-mdq-5, .col-qd-6, .col-mdq-7, .col-mdq-8, .col-mdq-9, .col-mdq-10, .col-mdq-11, .col-mdq-12 {
    float: left;
  }
  .col-mdq-12 {
    width: 100%;
  }
  .col-mdq-11 {
    width: 91.66666667%;
  }
  .col-mdq-10 {
    width: 83.33333333%;
  }
  .col-mdq-9 {
    width: 75%;
  }
  .col-mdq-8 {
    width: 66.66666667%;
  }
  .col-mdq-7 {
    width: 58.33333333%;
  }
  .col-mdq-6 {
    width: 50%;
  }
  .col-mdq-5 {
    width: 41.66666667%;
  }
  .col-mdq-4 {
    width: 33.33333333%;
  }
  .col-mdq-3 {
    width: 25%;
  }
  .col-mdq-2 {
    width: 16.66666667%;
  }
  .col-mdq-1 {
    width: 8.33333333%;
  }
}
.text-center {
  text-align: center;
}
.clearfix::before, .clearfix::after, .container::before, .container::after, .container-fluid::before, .container-fluid::after, .row::before, .row::after, .form-horizontal .form-group::before, .form-horizontal .form-group::after, .btn-toolbar::before, .btn-toolbar::after, .btn-group-vertical > .btn-group::before, .btn-group-vertical > .btn-group::after, .nav::before, .nav::after, .navbar::before, .navbar::after, .navbar-header::before, .navbar-header::after, .navbar-collapse::before, .navbar-collapse::after, .pager::before, .pager::after, .panel-body::before, .panel-body::after, .modal-footer::before, .modal-footer::after {
  content: " ";
  display: table;
}
.clearfix::after, .container::after, .container-fluid::after, .row::after, .form-horizontal .form-group::after, .btn-toolbar::after, .btn-group-vertical > .btn-group::after, .nav::after, .navbar::after, .navbar-header::after, .navbar-collapse::after, .pager::after, .panel-body::after, .modal-footer::after {
  clear: both;
}

.input-group-quickorder {
  border-collapse: separate;
  display: table;
  position: relative;
}
.input-group-quickorder .input-quickorder:first-child{
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.input-group-quickorder .input-quickorder, .input-icon{
  display: table-cell;
}
.input-group-quickorder .input-quickorder {
  float: left;
  margin-bottom: 0;
  width: 100%;
  z-index: 2;
}
input.contact-name,input.contact-phone,input.contact-comment-buyer,input.contact-email  {
  background-color: #ffffff !important;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px 0px 0px 4px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  color: #555;
  display: block;
  font-size: 12px !important;
  height: 34px;
  line-height: 1.42857;
  padding: 6px 12px;
  transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
  width: 100%;
}
.input-icon{
  vertical-align: middle;
  white-space: nowrap;
  width: 1%;
}
.input-icon{
background-color: #eee;
border: 1px solid #ccc !important;
border-radius: 4px;
color: #555;
font-size: 14px;
font-weight: 400;
line-height: 1;
padding: 6px 12px;
text-align: center;
position: relative;
}

.input-icon{
  border-left: 0 none;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
