<!DOCTYPE html>
<?php
    if (!defined('JOURNAL_INSTALLED')) {
        echo '
            <h3>Journal Installation Error</h3>
            <p>Make sure you have uploaded all Journal files to your server and successfully replaced <b>system/engine/front.php</b> file.</p>
            <p>Please read this: <a href="http://docs.digital-atelier.com/opencart/journal/#/settings/install" target="_blank">here</a>.</p>
        ';
        exit();
    }
    if (!$currency) {
        $this->journal2->html_classes->addClass('no-currency');
    }
    if (!$language) {
        $this->journal2->html_classes->addClass('no-language');
    }
?>
<html dir="<?php echo $direction; ?>" lang="<?php echo $lang; ?>" class="<?php echo $this->journal2->html_classes->getAll(); ?>" data-j2v="<?php echo JOURNAL_VERSION; ?>">
<head prefix="og:http://ogp.me/ns# fb:http://ogp.me/ns/fb# product:http://ogp.me/ns/product#">
<meta charset="UTF-8" />
<?php if ($this->journal2->settings->get('responsive_design', '1') === '1'): ?>
<meta name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<?php endif; ?>
<meta name="format-detection" content="telephone=no">
<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1"/><![endif]-->
<title><?php echo $title; ?></title>

<?php if ($noindex) { ?>
<!-- OCFilter Start -->
<meta name="robots" content="noindex,nofollow" />
<!-- OCFilter End -->
<?php } ?>
      
<base href="<?php echo $base; ?>" />
<?php if ($meta_title = $this->journal2->settings->get('blog_meta_title')): ?>
<meta name="title" content="<?php echo $meta_title; ?>" />
<?php endif; ?>
<?php if ($description) { ?>
<meta name="description" content="<?php echo $description; ?>" />
<?php } ?>
<?php if ($keywords) { ?>
<meta name="keywords" content="<?php echo $keywords; ?>" />
<?php } ?>
<?php foreach ($this->journal2->settings->get('share_metas', array()) as $sm): ?>
<meta <?php echo $sm['key']; ?>="<?php echo $sm['type']; ?>" content="<?php echo $sm['content']; ?>" />
<?php endforeach ;?>
<?php if (version_compare(VERSION, '2.1', '<')): ?>
<?php if ($icon) { ?>
<link href="<?php echo $icon; ?>" rel="icon" />
<?php } ?>
<?php endif; ?>
<?php if ($blog_feed_url = $this->journal2->settings->get('blog_blog_feed_url')): ?>
<link rel="alternate" type="application/rss+xml" title="RSS" href="<?php echo $blog_feed_url; ?>" />
<?php endif; ?>

<?php if (!empty($mlseo_meta)) { echo $mlseo_meta; } ?>
      
<?php foreach ($links as $link) { ?>
<link href="<?php echo $link['href']; ?>" rel="<?php echo $link['rel']; ?>" />
<?php } ?>
<?php foreach ($styles as $style) { ?>
<?php $this->journal2->minifier->addStyle($style['href']); ?>
<?php } ?>
<?php foreach ($this->journal2->google_fonts->getFonts() as $font): ?>
<link rel="stylesheet" href="<?php echo $font; ?>"/>
<?php endforeach; ?>
<?php foreach ($scripts as $script) { ?>
<?php $this->journal2->minifier->addScript($script, 'header'); ?>
<?php } ?>

<?php
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/hint.min.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/journal.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/features.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/header.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/module.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/pages.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/account.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/blog-manager.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/side-column.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/product.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/category.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/footer.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/icons.css');
    if ($this->journal2->settings->get('responsive_design')) {
        $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/responsive.css');
    }
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/flex.css');
    $this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/rtl.css');
	$this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/jquery.formstyler.css');
	$this->journal2->minifier->addStyle('catalog/view/theme/journal2/css/jquery.formstyler.theme.css');
?>
<?php echo $this->journal2->minifier->css(); ?>
<?php if ($this->journal2->cache->getDeveloperMode() || !$this->journal2->minifier->getMinifyCss()): ?>
<link rel="stylesheet" href="index.php?route=journal2/assets/css&amp;j2v=<?php echo JOURNAL_VERSION; ?>" />
<?php endif; ?>

<?php $this->journal2->minifier->addScript('catalog/view/theme/journal2/js/jquery.formstyler.min.js'); ?>
<?php //$this->journal2->minifier->addScript('catalog/view/theme/journal2/js/jquery.mCustomScrollbar.js', 'header'); ?>
<?php $this->journal2->minifier->addScript('catalog/view/theme/journal2/js/journal.js', 'header'); ?>

<?php if ($this->journal2->minifier->loadGoogleRecaptcha()): ?>
<script src="https://www.google.com/recaptcha/api.js"></script>
<?php endif; ?>
<?php echo $this->journal2->minifier->js('header'); ?>
<!--[if (gte IE 6)&(lte IE 8)]><script src="catalog/view/theme/journal2/lib/selectivizr/selectivizr.min.js"></script><![endif]-->
<?php if (isset($stores)): /* v1541 compatibility */ ?>
<?php if ($stores) { ?>
<script type="text/javascript"><!--
$(document).ready(function() {
<?php foreach ($stores as $store) { ?>
$('body').prepend('<iframe src="<?php echo $store; ?>" style="display: none;"></iframe>');
<?php } ?>
});
//--></script>
<?php } ?>
<?php endif; /* end v1541 compatibility */ ?>
<?php if (version_compare(VERSION, '2.1', '<')): ?>
<?php echo $google_analytics; ?>
<?php else: ?>
<?php foreach ($analytics as $analytic) { ?>
<?php echo $analytic; ?>
<?php } ?>
<?php endif; ?>
<script>
    <?php if ($this->journal2->settings->get('show_countdown', 'never') !== 'never' || $this->journal2->settings->get('show_countdown_product_page', 'on') == 'on'): ?>
    Journal.COUNTDOWN = {
        DAYS    : "<?php echo $this->journal2->settings->get('countdown_days', 'Days'); ?>",
        HOURS   : "<?php echo $this->journal2->settings->get('countdown_hours', 'Hours'); ?>",
        MINUTES : "<?php echo $this->journal2->settings->get('countdown_min', 'Min'); ?>",
        SECONDS : "<?php echo $this->journal2->settings->get('countdown_sec', 'Sec'); ?>"
    };
    <?php endif; ?>
    Journal.NOTIFICATION_BUTTONS = '<?php echo $this->journal2->settings->get('notification_buttons'); ?>';
</script>

<?php if($design_fastorder){ ?>
	<link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/fastorder<?php echo $design_fastorder;?>.css" />
<?php } else { ?>
	<link rel="stylesheet" type="text/css" href="catalog/view/theme/default/stylesheet/fastorder1.css" />
<?php } ?>
<script src="catalog/view/javascript/newfastorder.js" type="text/javascript"></script>	
<script src="catalog/view/javascript/jquery/magnific/jquery.magnific-popup.min.js" type="text/javascript"></script>
<link media="screen" href="catalog/view/javascript/jquery/magnific/magnific-popup.css" type="text/css" rel="stylesheet">	
<script type="text/javascript" src="catalog/view/javascript/quickorder/owl-carousel/owl.carousel.min.js"></script> 
<link media="screen" href="catalog/view/javascript/quickorder/owl-carousel/owl.carousel.css" rel="stylesheet">
<script type="text/javascript">
function fastorder_open(product_id) {  
    $.magnificPopup.open({
        tLoading: '<span><i style="font-size:50px;" class="fa fa-spinner fa-pulse"></i></span>',
        items: {
        src: 'index.php?route=extension/module/newfastorder&product_id='+product_id,
        type: 'ajax'
		}
    });
}
function fastorder_open_cart() {  
    $.magnificPopup.open({
        tLoading: '<span><i style="font-size:50px;" class="fa fa-spinner fa-pulse"></i></span>',
        items: {
        src: 'index.php?route=extension/module/newfastordercart',
        type: 'ajax'
        }	
    });
}		
</script>

<style>
.btn-quick-order {
	background:#<?php echo $background_button_open_form_send_order;?>;
	border-color:#<?php echo $background_button_open_form_send_order;?>;
	color:#<?php echo $color_button_open_form_send_order;?> !important;
}
.btn-quick-order:hover {
	background:#<?php echo $background_button_open_form_send_order_hover;?>;
	border-color:#<?php echo $background_button_open_form_send_order_hover;?>;				
}
.fast-checkout .btn-ordercart {
	background:#<?php echo $background_button_open_form_send_order;?>;
	border-color:#<?php echo $background_button_open_form_send_order;?>;
	color:#<?php echo $color_button_open_form_send_order;?> !important;
}
.fast-checkout .btn-ordercart:hover {
	background:#<?php echo $background_button_open_form_send_order_hover;?>;
	border-color:#<?php echo $background_button_open_form_send_order_hover;?>;	
}
</style>
		
</head>
<body>
<?php if ($logged) {?>
<script type="text/javascript"><!--
$(document).ready(function() {
	$('header .journal-secondary ul.top-menu li:first-child').html('<a href="/my-account"><i><img style="margin-right: 5px; " src="image/data/journal2/user.png" alt="" title=""></i><?php echo $firstName; ?></a>/<a href="<?php echo $logout; ?>">Выход</a>');
});	
//--></script>	
<?php } ?>
<div class="popup-container"></div>
<!--[if lt IE 9]>
<div class="old-browser"><?php echo $this->journal2->settings->get('old_browser_message', 'You are using an old browser. Please <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">upgrade to a newer version</a> or <a href="http://browsehappy.com/">try a different browser</a>.'); ?></div>
<![endif]-->
<?php if ($this->journal2->settings->get('config_header_modules')):  ?>
    <?php echo $this->journal2->settings->get('config_header_modules'); ?>
<?php endif; ?>
<?php
    $header_type = $this->journal2->settings->get('header_type', 'default');
    if ($header_type === 'extended') {
        $header_type = 'default';
    }
    if ($header_type === 'compact') {
        $header_type = 'compact';
    }
    if ($header_type === 'center') {
        $header_type = 'center';
    }
    if ($header_type === 'mega') {
        $header_type = 'mega';
    }
    if (class_exists('VQMod')) {
        global $vqmod;
        if ($vqmod !== null) {
            require $vqmod->modCheck(DIR_TEMPLATE . $this->config->get('config_template') . "/template/journal2/headers/{$header_type}.tpl");
        } else {
            require VQMod::modCheck(DIR_TEMPLATE . $this->config->get('config_template') . "/template/journal2/headers/{$header_type}.tpl");
        }
    } else {
        require modification(DIR_TEMPLATE . $this->config->get('config_template') . "/template/journal2/headers/{$header_type}.tpl");
    }
?>
<?php if ($this->journal2->settings->get('config_top_modules')): ?>
<div id="top-modules">
   <?php echo $this->journal2->settings->get('config_top_modules'); ?>
</div>
<?php endif; ?>

<div class="extended-container">
	<div class="tb-mobile-only-filter-module">
		Фильтр <i class="fa fa-filter"></i>
	</div>