<div class="checkout-content checkout-payment-methods">
<?php if ($error_warning) { ?>
    <div class="alert alert-warning warning"><i class="fa fa-exclamation-circle"></i> <?php echo $error_warning; ?>
    </div>
<?php } ?>
<?php if ($payment_methods) { ?>
    <h2 class="secondary-title"><?php echo $this->journal2->settings->get('one_page_lang_payment_method', 'Payment Method'); ?></h2>
    <?php foreach ($payment_methods as $payment_method) { ?>
        <div class="radio">
            <label>
                <?php if (empty($payment_method['dummy']) && ($payment_method['code'] == $code || !$code)) { ?>
                    <?php $code = $payment_method['code']; ?>
                    <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" <?php echo !empty($payment_method['dummy']) ? 'disabled="disabled"' : '' ?>
                           checked="checked"/>
                <?php } else { ?>
                    <input type="radio" name="payment_method" value="<?php echo $payment_method['code']; ?>" <?php echo !empty($payment_method['dummy']) ? 'disabled="disabled"' : '' ?>/>
                <?php } ?>
                
          <?php if (!empty($payment_method['image'])) { ?>
          <img src="<?php echo $payment_method['image'] ?>" <?php echo !empty($payment_method['image_style']) ? 'style="'.$payment_method['image_style'].'"' : '' ?>>
          <?php } ?>
          <?php echo $payment_method['title']; ?>
                <?php if (isset($payment_method['terms']) && $payment_method['terms']) { ?>
                    (<?php echo $payment_method['terms']; ?>)
                <?php } ?>
            </label>
        </div>

          <?php if (!empty($payment_method['description'])) { ?>
          <div>
            <label for="<?php echo $payment_method['code'] ?>">
              <?php echo $payment_method['description'] ?>
            </label>
          </div>
          <?php } ?>
        
    <?php } ?>
<?php } ?>
</div>