<div
id="journal-cms-block-697386477" class="journal-cms-block-16 box cms-blocks  " style="max-width: 1220px"><style>#journal-cms-block-697386477 .editor-content h1,
        #journal-cms-block-697386477 .editor-content h2,
        #journal-cms-block-697386477 .editor-content h3 {
                    }

        #journal-cms-block-697386477 .editor-content p {
                }</style><div
class="blocks"><div
class="cms-block xs-100 sm-100 md-100 lg-100 xl-100" style="">
<span
class="block-content block-content-top" style="border-bottom-width: 2px; border-style: solid; border-color: rgb(238, 238, 238)"><div
class="editor-content" style="text-align: left"><h2>О продукции компании Konfuzbele</h2></div>
</span></div></div></div> <script>if(!Journal.isFlexboxSupported){Journal.equalHeight($('#journal-cms-block-697386477 .cms-block'),'.block-content');}</script>