            <li>
                            <a href="https://konfuzbele.ru/" class="m-item ">                    <span class="top-menu-link">Главная</span>                </a>
                                </li>
            <li>
                            <a href="https://konfuzbele.ru/about_us" class="m-item ">                    <span class="top-menu-link">О компании</span>                </a>
                                </li>
            <li>
                            <a href="https://konfuzbele.ru/contact" class="m-item ">                    <span class="top-menu-link">Контакты</span>                </a>
                                </li>
            <li>
                            <a href="https://konfuzbele.ru/delivery" class="m-item ">                    <span class="top-menu-link">Доставка и оплата</span>                </a>
                                </li>
            <li>
                            <a href="https://konfuzbele.ru/blog" class="m-item ">                    <span class="top-menu-link">Блог</span>                </a>
                                </li>
            <li>
                            <a href="https://konfuzbele.ru/sale" class="m-item ">                    <span class="top-menu-link">Акция</span><i style="margin-left: 5px; color: rgb(255, 124, 17); font-size: 14px"  data-icon="&#xe1e8;"></i>                </a>
                                </li>
    