<div
id="journal-cms-block-1198999533" class="journal-cms-block-8 box cms-blocks  " style="max-width: 1220px"><style>#journal-cms-block-1198999533 .editor-content h1,
        #journal-cms-block-1198999533 .editor-content h2,
        #journal-cms-block-1198999533 .editor-content h3 {
                    }

        #journal-cms-block-1198999533 .editor-content p {
                }</style><div
class="blocks"><div
class="cms-block xs-100 sm-100 md-100 lg-100 xl-100" style="">
<span
class="block-content block-content-top" style=""><div
class="editor-content" style="text-align: left"><p><img
alt="" height="295" src="/image/catalog/glavnaya/professionalam.jpg" style="float: left; margin: 0px 20px 0px 0px;" width="442" /></p><h3><strong>Профессионалам</strong></h3><p>&nbsp;</p><p>В сложных обстоятельствах, когда тяжелое заболевание поражает человека, ему необходима помощь специалистов. Врачи, медицинские сестры, работники социальных служб, а также опекуны &ndash; именно эти люди дают больному человеку силы, чтобы бороться с недугом. Благодаря им, заболевание отступает быстрее и переносится легче.</p><p>Те, кто работает с пациентами, которые страдают инконтиненцией (недержанием мочи), должны обеспечивать комфортные условия для больного и окружить его заботой. При этом человек ни в коем случае не должен себя почувствовать обузой. Для того, чтобы правильно ухаживать за больными, профессионалам поможет информация из этого раздела. Также, полезно будет ознакомиться с урологическими изделиями для взрослых ТМ Seni.</p></div>
</span></div></div></div> <script>if(!Journal.isFlexboxSupported){Journal.equalHeight($('#journal-cms-block-1198999533 .cms-block'),'.block-content');}</script>