<div
id="journal-cms-block-930286418" class="journal-cms-block-15 box cms-blocks  " style="max-width: 1220px"><style>#journal-cms-block-930286418 .editor-content h1,
        #journal-cms-block-930286418 .editor-content h2,
        #journal-cms-block-930286418 .editor-content h3 {
                    }

        #journal-cms-block-930286418 .editor-content p {
                }</style><div
class="blocks"><div
class="cms-block xs-100 sm-100 md-100 lg-100 xl-100" style="">
<span
class="block-content block-content-top" style=""><div
class="editor-content" style="text-align: left"><p><strong>Поставщиками продукции являются мировые компании с заслуженным именем в истории:</strong></p><p>&nbsp;</p><p><strong>Компания <a
href="/blog/blog/torgovaya-marke-abena" target="_blank">Abena</a></strong></p><p>&nbsp;</p><p>Основана в 1953 году Йенсом Терп-Нильсеном в Дании. Начиналось с переработки мешков из жгута для сельского населения, Abena выросла в успешную мировую компанию по разработке средств ухода за больными. В настоящее время ассортимент компании насчитывает более 25 000 товаров в 60 странах мира (с 2013 года и в России)! Мы выбрали эту компанию по причине безупречной репутации, экологически чистого сырья. Кроме того, вся продукция проходит тщательную проверку и лишь после этого допускается в продажу. <u><a
href="/blog/blog/torgovaya-marke-abena">Перейти на статью</a></u></p><p>&nbsp;</p><p><strong>Компания <a
href="/blog/blog/torgovaya-marka-seni" target="_blank">Seni</a></strong></p><p>&nbsp;</p><p>В 1951 TZMO SA начали свой нелегкий путь, как инноваторы в сфере медицинских услуг. Компания постоянно стремилась к большему, а следственно совершенствовало технологии, создавала инновационные разработки. Весь этот труд привел Seni к устойчивому положению на мировом рынке (TZMO SA - международный холдинг, включающий в себя 51 дочерних компании, с филиалами в 16 стран мира!).</p><p>&nbsp;</p><p>По причине различий в продукции и технологиях, компания Seni работает под несколькими брендами:</p><ul><li>Bella - гигиенические средства ухода для женщин;</li><li>Bella baby happy &ndash; детские подгузники и косметика;</li><li>Matopat - изделия медицины;</li><li>Seni - специально разработанные средства для страдающих от недержания;</li><li>Dr. Max &ndash; бытовая химия;</li><li>Eva Simply, Eva Sun и Eva Natura.</li></ul><p><br
/>
Компания <a
href="/blog/blog/torgovaya-marka-seni">Seni</a> запатентовала себя, как качественный, надежный и перспективный производитель медицинских гигиенических товаров. Также деятельность TZMO имеет и социальную направленность, о чем свидетельствует организация чемпионата по футболу для людей с ограниченными возможностями Seni Cup. <u><a
href="/blog/blog/torgovaya-marka-seni">Перейти на статью</a></u></p><p>&nbsp;</p><p>&nbsp;</p><p><strong>Ассортимент интернет-магазина konfuzbele.ru располагает всеми необходимыми товарами личной гигиены и средствами для ухода за больными:</strong></p><ul><li>урологические прокладки / вкладыши (являются актуальным решением проблем с недержанием);</li><li>анатомические подгузники (крайне удобное средство открытого типа, что позволяет не брать в учет обхват талии и бёдер);</li><li>эластичные трусы для фиксации анатомических подгузников (помогают надежно закрепить подгузник на теле. За счет наружных боковых швов, а также мягкого материала, кожа защищена от натирания);</li><li>трусы впитывающие одноразовые (оптимальное решение для людей со средней степенью НМ, ведущих активный образ жизни. Имеют специальный индикатор влагонасыщения);</li><li>различного рода подгузники и вкладыши;</li><li>средства личной гигиены.</li></ul><p><br
/>
У производителей есть соответствующие сертификаты качества, так что вы можете быть уверены в безопасности и эффективности приобретенных медицинских средств!</p></div>
</span></div></div></div> <script>if(!Journal.isFlexboxSupported){Journal.equalHeight($('#journal-cms-block-930286418 .cms-block'),'.block-content');}</script>