<div
class="journal-slider-1 tp-banner-container box nav-on-hover journal-slider   " style="max-width: 1220px; height: 415px;"><div
class="tp-banner" id="journal-slider-2068728250" style="display: none; background-image: url('https://konfuzbele.ru/image/cache/catalog/slide1-1180x415.png'); background-size: cover; background-position: center center;"><ul><li
data-fstransition="fade" data-fsslotamount="0" data-fsmasterspeed="0" data-transition="parallaxtoright" data-easing="easeInOutQuart" data-masterspeed="800" data-thumb="https://konfuzbele.ru/image/cache/catalog/slide1-100x75h.png" >
<img
src="https://konfuzbele.ru/image/cache/data/journal2/transparent-980x400.png" data-lazyload="https://konfuzbele.ru/image/cache/catalog/slide1-1180x415.png" width="1220" height="415" alt="Слайд 1" /></li><li
data-transition="parallaxtoright" data-easing="easeInOutQuart" data-masterspeed="800" data-thumb="https://konfuzbele.ru/image/cache/catalog/slide2-100x75h.png" >
<img
src="https://konfuzbele.ru/image/cache/data/journal2/transparent-980x400.png" data-lazyload="https://konfuzbele.ru/image/cache/catalog/slide2-1180x415.png" width="1220" height="415" alt="Слайд 2" /></li><li
data-transition="parallaxtoright" data-easing="easeInOutQuart" data-masterspeed="800" data-thumb="https://konfuzbele.ru/image/cache/catalog/slide3-100x75h.png" >
<img
src="https://konfuzbele.ru/image/cache/data/journal2/transparent-980x400.png" data-lazyload="https://konfuzbele.ru/image/cache/catalog/slide3-1180x415.png" width="1220" height="415" alt="Слайд 3" /></li></ul><div
class="tp-bannertimer tp-bottom"></div></div></div><style>.journal-slider-1 .tp-bullets { bottom: 20px !important }</style> <script>(function(){$('<style></style>').appendTo($('head'));var opts=$.parseJSON('{"delay":"5000","onHoverStop":"on","thumbWidth":100,"thumbHeight":75,"thumbAmount":3,"hideThumbs":1,"navigationType":"bullet","navigationArrows":"solo","navigationStyle":"round","navigationHAlign":"center","navigationVAlign":"bottom","navigationHOffset":"","navigationVOffset":"20","startwidth":"1220","startheight":"415","spinner":"","touchenabled":"on"}');opts.hideThumbs=0;$('#journal-slider-2068728250').show().revolution(opts);setTimeout(function(){$('#journal-slider-2068728250').css('background-image','none');},2500);})();</script>