<style></style>
<div class="mobile-trigger">МЕНЮ</div>
<ul class="super-menu mobile-menu menu-floated" style="table-layout: ">
        <li id="main-menu-item-1" class="drop-down float-left">
                <a><span class="main-menu-text">Каталог продукции</span></a>
                                                <ul><li><a href="https://konfuzbele.ru/prokladki" >Прокладки</a></li><li><a href="https://konfuzbele.ru/podguzniki" >Подгузники</a></li><li><a href="https://konfuzbele.ru/trusy" >Трусы</a></li><li><a href="https://konfuzbele.ru/pelenki" >Пелёнки</a></li><li><a href="https://konfuzbele.ru/prostyni" >Простыни</a></li><li><a href="https://konfuzbele.ru/plastyri" >Пластыри</a></li><li><a href="https://konfuzbele.ru/povyazki" >Повязки</a></li><li><a href="https://konfuzbele.ru/tampony" >Тампоны</a></li><li><a href="https://konfuzbele.ru/binty-podklady-marli" >Бинты, подклады, марли</a></li><li><a href="https://konfuzbele.ru/uhod-za-kozhej" >Уход за кожей</a></li><li><a href="https://konfuzbele.ru/sredstva-po-uhodu" >Средства по уходу</a></li><li><a href="https://konfuzbele.ru/specodezhda" >Спецодежда</a></li></ul>                
        
        <span class="mobile-plus">+</span>
    </li>
    </ul>
