<div
id="journal-cms-block-1144849084" class="journal-cms-block-10 box cms-blocks  " style="max-width: 1220px"><style>#journal-cms-block-1144849084 .editor-content h1,
        #journal-cms-block-1144849084 .editor-content h2,
        #journal-cms-block-1144849084 .editor-content h3 {
                    }

        #journal-cms-block-1144849084 .editor-content p {
                }</style><div
class="blocks"><div
class="cms-block xs-100 sm-100 md-100 lg-100 xl-100" style="">
<span
class="block-content block-content-top" style=""><div
class="editor-content" style="text-align: left"><h3><img
alt="" height="310" src="/image/catalog/glavnaya/abena-logo.jpg" style="float: left; margin: 0px 20px 0px 0px;" width="442" /><strong>Компания Abena</strong></h3><p>&nbsp;</p><p>Компания родом из Дании. Успешно развивается и занимает лидирующие позиции на мировом рынке с 1953 года. Основное направление - разработка средств ухода за больными. На данный момент ассортимент компании Abena насчитывает более 25 000 товаров в 60 странах мира! В Москве с 2013 года.</p><p>&nbsp;</p><p>Спектр товаров подразделяется на различные виды подгузников для детей и взрослых, урологические прокладки, простыни и перчатки, а также качественные гигиенические средства. Основное преимущество компании Abena заключается в собственном производстве, многоуровневой проверке продукции, а также использовании экологически чистых материалов, заверенных Лесным попечительским советом (основной материал &ndash; целлюлоза). <u><a
href="/blog/blog/torgovaya-marke-abena">Перейти на статью</a></u></p></div>
</span></div></div></div> <script>if(!Journal.isFlexboxSupported){Journal.equalHeight($('#journal-cms-block-1144849084 .cms-block'),'.block-content');}</script>