            <li>
                            <a href="https://konfuzbele.ru/my-account" class="m-item "><i style="margin-right: 5px; color: rgb(22, 165, 247); font-size: 17px" data-icon="&#xe1b8;"></i>                    <span class="top-menu-link">Личный Кабинет</span>                </a>
                                </li>
            <li>
                            <a href="https://konfuzbele.ru/compare-products" class="m-item compare-total"><i style="margin-right: 5px; color: rgb(22, 165, 247); font-size: 17px" data-icon="&#xe025;"></i>                    <span class="top-menu-link">Сравнение товаров (<span class="product-count">{{_compare_}}</span>)</span>                </a>
                                </li>
    