<div class="row columns " style="padding-bottom: 40px; color: rgb(51, 55, 69)">
        <div class="column  text xs-100 sm-50 md-33 lg-25 xl-25 no-title">
                        <div class="column-text-wrap  block-icon-top" style="padding-top: 20px">
                        <span><p><img alt="" height="43" src="https://konfuzbele.ru/image/catalog/logo1.png" width="200" /></p>

<p>&nbsp;</p>

<p>Интернет-магазин гигиенических<br />
средств от производителя</p>

<p>2018. Все права защищены.</p></span>
        </div>
            </div>
        <div class="column  menu xs-100 sm-50 md-33 lg-25 xl-25 ">
                <h3>Информация</h3>
                        <div class="column-menu-wrap" style="">
        <ul>
                                    <li><a href="https://konfuzbele.ru/about_us" class="m-item ">О компании</a></li>
                                                <li><a href="https://konfuzbele.ru/contact" class="m-item ">Контакты</a></li>
                                                <li><a href="https://konfuzbele.ru/blog" class="m-item ">Блог</a></li>
                                                <li><a href="https://konfuzbele.ru/sale" class="m-item ">SALE</a></li>
                                                <li><a href="https://konfuzbele.ru/delivery" class="m-item ">Доставка и оплата</a></li>
                                </ul>
        </div>
            </div>
        <div class="column  menu xs-100 sm-50 md-33 lg-25 xl-25 ">
                <h3>Популярные категории</h3>
                        <div class="column-menu-wrap" style="">
        <ul>
                                    <li><a href="https://konfuzbele.ru/podguzniki" class="m-item ">Подгузники</a></li>
                                                <li><a href="https://konfuzbele.ru/trusy" class="m-item ">Трусы</a></li>
                                                <li><a href="https://konfuzbele.ru/prokladki" class="m-item ">Прокладки</a></li>
                                                <li><a href="https://konfuzbele.ru/prostyni" class="m-item ">Простыни</a></li>
                                                <li><a href="https://konfuzbele.ru/pelenki" class="m-item ">Пелёнки</a></li>
                                                <li><a href="https://konfuzbele.ru/uhod-za-kozhej" class="m-item ">Уход за кожей</a></li>
                                </ul>
        </div>
            </div>
        <div class="column  text xs-100 sm-50 md-33 lg-25 xl-25 ">
                <h3>Наши контакты</h3>
                        <div class="column-text-wrap  block-icon-top" style="">
                        <span><p><img alt="" height="20" src="https://konfuzbele.ru/image/catalog/marker.png" style="float: left; margin: 5px;" width="20" />&nbsp;г. Москва, Преображенская пл., 8,&nbsp;(Бизнес-центр Прео 8)</p>

<p>&nbsp;</p>

<p><img alt="" height="20" src="https://konfuzbele.ru/image/catalog/ikonki/tel.png" style="float: left; margin: 5px;" width="20" />&nbsp;8 (903) 161-91-09</p>

<p><img alt="" height="20" src="https://konfuzbele.ru/image/catalog/ikonki/email.png" style="float: left; margin: 3px 5px;" width="20" />&nbsp;konfuzbele@mail.ru</p>

<p><img alt="" height="20" src="https://konfuzbele.ru/image/catalog/ikonki/vremya.png" style="float: left; margin: 5px;" width="20" />&nbsp;Пн - Пт - с 9:00 до 18:00<br />
&nbsp;Онлайн-заявки принимаются&nbsp;круглосуточно</p></span>
        </div>
            </div>
    </div>
