<div
id="cs-1290159444" class="cs-3 box custom-sections section-category  single-section  " style="max-width: 1220px"><div
class="box-heading box-sections box-block"><ul><li><a
href="javascript:;" data-option-value="section-0">Популярные категории</a></li></ul></div><div
class="box-content"><div
class="product-grid"><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/binty-podklady-marli" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_bint-500x500.jpg" title="Бинты, подклады, марли" alt="Бинты, подклады, марли" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/binty-podklady-marli">Бинты, подклады, марли</a></div></div></div></div><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/vkladyshi" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_vkladish-500x500.jpg" title="Вкладыши" alt="Вкладыши" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/vkladyshi">Вкладыши</a></div></div></div></div><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/pelenki" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_pelenki-500x500.jpg" title="Пелёнки" alt="Пелёнки" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/pelenki">Пелёнки</a></div></div></div></div><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/plastyri" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_plastir-500x500.jpg" title="Пластыри" alt="Пластыри" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/plastyri">Пластыри</a></div></div></div></div><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/povyazki" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_povyazka-500x500.jpg" title="Повязки" alt="Повязки" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/povyazki">Повязки</a></div></div></div></div><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/podguzniki" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_podguzniki-500x500.jpg" title="Подгузники" alt="Подгузники" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/podguzniki">Подгузники</a></div></div></div></div><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/prokladki" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_prokladki-500x500.jpg" title="Прокладки" alt="Прокладки" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/prokladki">Прокладки</a></div></div></div></div><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/prostyni" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_prostin-500x500.jpg" title="Простыни" alt="Простыни" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/prostyni">Простыни</a></div></div></div></div><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/specodezhda" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_specodeghda-500x500.jpg" title="Спецодежда" alt="Спецодежда" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/specodezhda">Спецодежда</a></div></div></div></div><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/tampony" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_tampon-500x500.jpg" title="Тампоны" alt="Тампоны" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/tampony">Тампоны</a></div></div></div></div><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/trusy" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_trusi-500x500.jpg" title="Трусы" alt="Трусы" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/trusy">Трусы</a></div></div></div></div><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/uhod-za-kozhej" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_uhod_za_kogey-500x500.jpg" title="Уход за кожей" alt="Уход за кожей" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/uhod-za-kozhej">Уход за кожей</a></div></div></div></div><div
class="product-grid-item isotope-element section-0 xs-100 sm-50 md-33 lg-25 xl-25"><div
class="product-wrapper" data-respond="start: 150px; end: 300px; interval: 20px;" style=""><div
class="image">
<a
href="https://konfuzbele.ru/sredstva-po-uhodu" style="">
<img
class="first-image" width="500" height="500" src="https://konfuzbele.ru/image/cache/catalog/kategoriji/large_sredstva-500x500.jpg" title="Средства по уходу" alt="Средства по уходу" />
</a></div><div
class="product-details"><div
class="name"><a
href="https://konfuzbele.ru/sredstva-po-uhodu">Средства по уходу</a></div></div></div></div></div></div> <script>(function(){var $isotope=$('#cs-1290159444 .product-grid');var $filters=$('#cs-1290159444 .box-heading a[data-option-value]');var default_section='';$isotope.each(function(){Journal.equalHeight($(this).find('.product-grid-item'),'.name');});$('#cs-1290159444 img').imagesLoaded(function(){$isotope.isotope({itemSelector:'.isotope-element',initLayout:default_section===''});});$filters.click(function(){var $this=$(this);if($this.hasClass('selected')){return false;}
$filters.removeClass('selected');$this.addClass('selected');$isotope.isotope({filter:'.'+$this.attr('data-option-value')})});if(default_section!==''){$('#cs-1290159444 .box-heading a[data-option-value="section-'+default_section+'"]').click();}else{$('#cs-1290159444 .box-heading a').first().click();}}());</script> </div>