<div
id="journal-cms-block-1724020695" class="journal-cms-block-2 box cms-blocks  " style=""><style>#journal-cms-block-1724020695 .editor-content h1,
        #journal-cms-block-1724020695 .editor-content h2,
        #journal-cms-block-1724020695 .editor-content h3 {
                    }

        #journal-cms-block-1724020695 .editor-content p {
                }</style><div
class="blocks"><div
class="cms-block xs-100 sm-100 md-100 lg-100 xl-100" style="">
<span
class="block-content block-content-top" style=""><div
class="editor-content" style="text-align: center"><p><iframe
allowfullscreen="" frameborder="0" height="300" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2242.905317502412!2d37.71061541556573!3d55.794881980564604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b5354132281f85%3A0x587f6a890f5c18ff!2z0JrQvtC80L_QsNC90LjRjyBLb25mdXpiZWxlLCDQuNC90YLQtdGA0L3QtdGCINC80LDQs9Cw0LfQuNC9INGB0YDQtdC00YHRgtCyINCz0LjQs9C40LXQvdGL!5e0!3m2!1sru!2sua!4v1538117090097" style="border:0" width="100%"></iframe></p></div>
</span></div></div></div> <script>if(!Journal.isFlexboxSupported){Journal.equalHeight($('#journal-cms-block-1724020695 .cms-block'),'.block-content');}</script>