<div
id="journal-cms-block-1536374823" class="journal-cms-block-14 box cms-blocks  " style="max-width: 1220px"><style>#journal-cms-block-1536374823 .editor-content h1,
        #journal-cms-block-1536374823 .editor-content h2,
        #journal-cms-block-1536374823 .editor-content h3 {
                    }

        #journal-cms-block-1536374823 .editor-content p {
                }</style><div
class="blocks"><div
class="cms-block xs-100 sm-50 md-50 lg-20 xl-20" style="">
<span
class="block-content block-content-top" style=""><div
class="editor-content" style="text-align: left"><p
style="text-align: center;"><img
alt="" height="80" src="/image/catalog/glavnaya/1_1.png" width="80" /></p><p
style="text-align: center;">&nbsp;</p><p
style="text-align: center;"><span
style="font-size:20px;">ГАРАНТИЯ КАЧЕСТВА</span></p></div>
</span></div><div
class="cms-block xs-100 sm-50 md-50 lg-20 xl-20" style="">
<span
class="block-content block-content-top" style=""><div
class="editor-content" style="text-align: left"><p
style="text-align: center;"><img
alt="" height="80" src="/image/catalog/glavnaya/2_1.png" width="80" /></p><p
style="text-align: center;">&nbsp;</p><p
style="text-align: center;"><span
style="font-size:20px;">КОНСУЛЬТАНЦИЯ</span></p></div>
</span></div><div
class="cms-block xs-100 sm-50 md-50 lg-20 xl-20" style="">
<span
class="block-content block-content-top" style=""><div
class="editor-content" style="text-align: left"><p
style="text-align: center;"><img
alt="" height="80" src="/image/catalog/glavnaya/3_1.png" width="80" /></p><p
style="text-align: center;">&nbsp;</p><p
style="text-align: center;"><span
style="font-size:20px;">ХОРОШИЕ ЦЕНЫ</span></p></div>
</span></div><div
class="cms-block xs-100 sm-50 md-50 lg-20 xl-20" style="">
<span
class="block-content block-content-top" style=""><div
class="editor-content" style="text-align: left"><p
style="text-align: center;"><img
alt="" height="80" src="/image/catalog/glavnaya/4_1.png" width="80" /></p><p
style="text-align: center;">&nbsp;</p><p
style="text-align: center;"><span
style="font-size:20px;">ДОСТАВКА ПО ВСЕЙ РОССИИ</span></p></div>
</span></div><div
class="cms-block xs-100 sm-50 md-50 lg-20 xl-20" style="">
<span
class="block-content block-content-top" style=""><div
class="editor-content" style="text-align: left"><p
style="text-align: center;"><img
alt="" height="80" src="/image/catalog/glavnaya/5_1.png" width="80" /></p><p
style="text-align: center;">&nbsp;</p><p
style="text-align: center;"><span
style="font-size:20px;">УДОБНАЯ ОПЛАТА</span></p></div>
</span></div></div></div> <script>if(!Journal.isFlexboxSupported){Journal.equalHeight($('#journal-cms-block-1536374823 .cms-block'),'.block-content');}</script>