<div
id="journal-side-category-525590544" class="journal-side-category-20 box side-category side-category-left side-category-accordion"><div
class="box-heading">Каталог</div><div
class="box-category"><ul><li>
<a
href="https://konfuzbele.ru/binty-podklady-marli" class="">
<span
class="category-name">Бинты, подклады, марли                                            </span>
<i><span>+</span></i>
</a><ul><li><a
class="" href="https://konfuzbele.ru/binty-podklady-marli/binty-gipsovye-medicinskie"><span
class="category-name">Бинты гипсовые медицинские </span></a></li><li><a
class="" href="https://konfuzbele.ru/binty-podklady-marli/binty-elastichnye-medicinskie"><span
class="category-name">Бинты эластичные медицинские </span></a></li></ul></li><li>
<a
href="https://konfuzbele.ru/vkladyshi" class="">
<span
class="category-name">Вкладыши                                            </span>
</a></li><li>
<a
href="https://konfuzbele.ru/pelenki" class="">
<span
class="category-name">Пелёнки                                            </span>
</a></li><li>
<a
href="https://konfuzbele.ru/plastyri" class="">
<span
class="category-name">Пластыри                                            </span>
</a></li><li>
<a
href="https://konfuzbele.ru/povyazki" class="">
<span
class="category-name">Повязки                                            </span>
</a></li><li>
<a
href="https://konfuzbele.ru/podguzniki" class="">
<span
class="category-name">Подгузники                                            </span>
<i><span>+</span></i>
</a><ul><li><a
class="" href="https://konfuzbele.ru/podguzniki/podguzniki-dlya-vzroslyh"><span
class="category-name">Подгузники для взрослых </span></a></li><li><a
class="" href="https://konfuzbele.ru/podguzniki/podguzniki-dlya-novorozhdennyh"><span
class="category-name">Подгузники для новорожденных </span></a></li></ul></li><li>
<a
href="https://konfuzbele.ru/prokladki" class="">
<span
class="category-name">Прокладки                                            </span>
<i><span>+</span></i>
</a><ul><li><a
class="" href="https://konfuzbele.ru/prokladki/prokladki-dlya-vzroslyh"><span
class="category-name">Прокладки для взрослых </span></a></li><li><a
class="" href="https://konfuzbele.ru/prokladki/prokladki-zhenskie-gigienicheskie"><span
class="category-name">Прокладки женские гигиенические </span></a></li></ul></li><li>
<a
href="https://konfuzbele.ru/prostyni" class="active">
<span
class="category-name">Простыни                                            </span>
</a></li><li>
<a
href="https://konfuzbele.ru/specodezhda" class="">
<span
class="category-name">Спецодежда                                            </span>
</a></li><li>
<a
href="https://konfuzbele.ru/tampony" class="">
<span
class="category-name">Тампоны                                            </span>
</a></li><li>
<a
href="https://konfuzbele.ru/trusy" class="">
<span
class="category-name">Трусы                                            </span>
</a></li><li>
<a
href="https://konfuzbele.ru/uhod-za-kozhej" class="">
<span
class="category-name">Уход за кожей                                            </span>
<i><span>+</span></i>
</a><ul><li><a
class="" href="https://konfuzbele.ru/uhod-za-kozhej/balzam-dlya-uhoda-za-kozhej"><span
class="category-name">Бальзам для ухода за кожей </span></a></li><li><a
class="" href="https://konfuzbele.ru/uhod-za-kozhej/vatnye-palochki-i-diski-dlya-uhoda-za-kozhej"><span
class="category-name">Ватные палочки и диски для ухода за кожей </span></a></li><li><a
class="" href="https://konfuzbele.ru/uhod-za-kozhej/krem-dlya-uhoda-za-kozhej"><span
class="category-name">Крем для ухода за кожей </span></a></li><li><a
class="" href="https://konfuzbele.ru/uhod-za-kozhej/losony-dlya-uhoda-za-kozhej"><span
class="category-name">Лосьоны для ухода за кожей </span></a></li><li><a
class="" href="https://konfuzbele.ru/uhod-za-kozhej/penki-i-moyushie-dlya-uhoda-za-kozhej"><span
class="category-name">Пенки и моющие для ухода за кожей </span></a></li><li><a
class="" href="https://konfuzbele.ru/uhod-za-kozhej/shampun-dlya-uhoda-za-kozhej-golovy"><span
class="category-name">Шампунь для ухода за кожей головы </span></a></li></ul></li><li>
<a
href="https://konfuzbele.ru/sredstva-po-uhodu" class="">
<span
class="category-name">Средства по уходу                                            </span>
</a></li></ul></div> <script>$('#journal-side-category-525590544 .box-category a i').click(function(e,first){e.preventDefault();$('+ ul',$(this).parent()).slideToggle(first?0:400);$(this).parent().toggleClass('active');$(this).html($(this).parent().hasClass('active')?"<span>-</span>":"<span>+</span>");return false;});$('#journal-side-category-525590544 .is-active i').trigger('click',true);</script> </div>