<div
id="journal-cms-block-1617026511" class="journal-cms-block-9 box cms-blocks  " style="max-width: 1220px"><style>#journal-cms-block-1617026511 .editor-content h1,
        #journal-cms-block-1617026511 .editor-content h2,
        #journal-cms-block-1617026511 .editor-content h3 {
                    }

        #journal-cms-block-1617026511 .editor-content p {
                }</style><div
class="blocks"><div
class="cms-block xs-100 sm-100 md-100 lg-100 xl-100" style="">
<span
class="block-content block-content-top" style=""><div
class="editor-content" style="text-align: left"><h3><img
alt="" height="300" src="/image/catalog/glavnaya/seni2.jpg" style="float: left; margin: 0px 20px 0px 0px;" width="442" /><strong>Компания Seni</strong></h3><p>&nbsp;</p><p>Компания-инноватор в сфере разработки медицинской продукции для страдающих от недержания представляет собой международный холдинг, в составе которого 51 дочерняя компания. Филиалы расположены в 16 странах мира. Рынок сбыта довольно обширный: изделия бренда можно приобрести в магазинах более чем 65 стран, среди которых страны Евросоюза, Африки, СНГ, Соединенных Штатов Америки, а также Индии. Основной задачей компании было и остается защита населения в вопросах здравоохранения, а также приобщение к социуму тех, кому ранее это не удавалось по различным причинам. Seni всецело поддерживает население, открывая новые поликлиники, больницы, стерилизационные центры и прачечные, а также занимается организацией различных чемпионатов для людей с ограниченными возможностями!&nbsp;</p><p><u><a
href="/blog/blog/torgovaya-marka-seni">Перейти на статью</a></u></p></div>
</span></div></div></div> <script>if(!Journal.isFlexboxSupported){Journal.equalHeight($('#journal-cms-block-1617026511 .cms-block'),'.block-content');}</script>