<div
id="journal-cms-block-1824414637" class="journal-cms-block-4 box cms-blocks  " style="max-width: 1220px"><style>#journal-cms-block-1824414637 .editor-content h1,
        #journal-cms-block-1824414637 .editor-content h2,
        #journal-cms-block-1824414637 .editor-content h3 {
                    }

        #journal-cms-block-1824414637 .editor-content p {
                }</style><div
class="blocks"><div
class="cms-block xs-100 sm-100 md-100 lg-100 xl-100" style="">
<span
class="block-content block-content-top" style=""><div
class="editor-content" style="text-align: left"><h1 style="text-align: center;">Интернет магазин подгузников, прокладок и средств гигиены Konfuzbele.ru</h1></div>
</span></div></div></div> <script>if(!Journal.isFlexboxSupported){Journal.equalHeight($('#journal-cms-block-1824414637 .cms-block'),'.block-content');}</script>