.simple-content{margin:0}.simple-content
label{float:auto !important;width:auto !important}.simple-content .form-group{text-align:left}.simple-content
.buttons{margin:10
!important;padding:10px
!important;border:none;background-color:#FFF !important}.simple-content input[type=text],
.simple-content input[type=password],
.simple-content input[type=email],
.simple-content input[type=tel],
.simple-content select,
.simple-content textarea,
#simplecheckout_login input,
#simplecheckout_login select,
#simplecheckout_login
textarea{min-width:0px !important;margin:0px
!important;width:100% !important}#paymill_form{float:left !important}.paymill_error{clear:both !important;position:static !important;line-height:13px !important}#simplecheckout_login
.buttons{margin:0;padding:0;border:none}#simplecheckout_login .simplecheckout-warning-block{margin-top:15px;margin-bottom:5px}#simplecheckout_login
a{margin:10px
0 0 6px;display:inline-block}#simplecheckout_button_login{margin:0}.simplecheckout{overflow:hidden;width:100%}.simplecheckout-three-column{float:left;margin-right:10px;min-width:200px;max-width:500px;width:32%}.simplecheckout-three-column+.simplecheckout-three-column+.simplecheckout-three-column{margin-right:0px;float:right}@media only screen and (max-width:768px){.simplecheckout-three-column{display:block;float:none;min-width:auto !important;max-width:1900px !important;width:100%}}.simplecheckout-left-column{float:left;margin-right:10px;min-width:280px;max-width:900px;width:50%}.simplecheckout-right-column{float:right;min-width:280px;max-width:900px;width:48%}@media only screen and (max-width:768px){.simplecheckout-left-column{display:block;float:none;min-width:auto !important;max-width:1900px !important;width:100%}.simplecheckout-right-column{display:block;float:none;min-width:auto !important;max-width:1900px !important;width:100%}}.simplecheckout-block{clear:both;margin-bottom:15px;padding:0;background-color:#FFF}.simplecheckout-block-content{overflow:hidden;padding:0
5px}#simplecheckout_shipping div.radio, #simplecheckout_payment
div.radio{margin:10px
0}.simple-content .form-horizontal
div.radio{padding:0
0 0 5px}.simple-content .form-horizontal div.radio
label{margin:0;padding:0}.simplecheckout-block-content div.radio
label{}.simpleregister{margin-bottom:5px;margin-bottom:15px;padding:10px;background-color:#FFF}.simpleregister-block-content{overflow:hidden;padding:0
5px}.simpleregister-block-content
legend{background-color:rgb(0, 153, 102) !important;font-weight:bold;font-family:Helvetica,Arial,sans-serif;font-style:normal;font-size:14px;text-transform:none;color:rgb(255, 255, 255);margin-bottom:10px !important;display:block;width:100% !important;margin-top:10px;padding:10px}.simpleregister-block-content .simplecheckout-table-form-left{width:50%}@media only screen and (max-width:600px){.simpleregister-block-content .simplecheckout-customer{width:100%}}.simpleregister-button-block{overflow:auto;margin-bottom:20px;padding:6px;padding:5px;background:none repeat scroll 0 0 #FFF;text-align:right}.simpleregister-button-right{float:right;text-align:right}.simpleregister-button-left{float:left;text-align:left}.simplecheckout-methods-table{width:100%}.simplecheckout-methods-table
td.code{width:1px}.simplecheckout-methods-table
td.title{padding:5px}.simplecheckout-methods-table td.title
label{display:block !important}.simplecheckout-methods-table
td.quote{width:15%;text-align:right}.simplecheckout-required{color:#F00;font-weight:bold}.simplecheckout-button-block{clear:both;overflow:auto;margin-bottom:20px;padding:6px;padding:5px;background:none repeat scroll 0 0 #FFF;text-align:right}.simplecheckout-button-right{float:right;text-align:right}.simplecheckout-button-left{float:left;text-align:left}.simplecheckout-button{display:inline-block;padding:6px
12px 6px 12px;-webkit-border-radius:7px 7px 7px 7px;-moz-border-radius:7px 7px 7px 7px;border-radius:7px 7px 7px 7px;background:url('/catalog/view/theme/journal2/image/button.png') top left repeat-x;-webkit-box-shadow:0px 2px 2px #DDD;-moz-box-shadow:0px 2px 2px #DDD;box-shadow:0px 2px 2px #DDD;color:#FFF;text-decoration:none;font-weight:bold;font-size:12px;font-family:Arial,Helvetica,sans-serif;line-height:12px;cursor:pointer;-khtml-border-radius:7px 7px 7px 7px}.simplecheckout-button-left
.button{margin:0}@media only screen and (max-width:780px){.simplecheckout-button-left{display:none}}.simplecheckout-button:hover{background:url('/catalog/view/theme/journal2/image/button-active.png') repeat-x}#simplecheckout_customer .simplecheckout-block-content{text-align:center}.simplecheckout-login{display:inline-block}.simplecheckout-login-left{width:50%;text-align:left}.simplecheckout-login-right{width:50%;text-align:left}.simplecheckout-login-right
.button{float:left;margin:0}.simplecheckout-login-right
input{max-width:160px !important;text-align:left}.simplecheckout-cart{margin:0px
!important;width:100%;border-collapse:collapse;border-top:1px solid #DDD;border-right:1px solid #DDD;border-left:1px solid #DDD}.simplecheckout-cart-total{overflow:hidden;padding:7px
3px;border-right:1px solid #DDD;border-bottom:1px solid #DDD;border-left:1px solid #DDD;text-align:right}.simplecheckout-cart-total
.buttons{background:inherit !important;padding:0px
!important}.simplecheckout-cart-total
input{margin-right:0px !important;max-width:100px}.simplecheckout-cart-total
span.inputs{margin-right:3px}.simplecheckout-cart-total span.inputs input[type=text]{margin:0px}.simplecheckout-cart-total-value{display:inline-block;margin:0px
3px;min-width:60px}.simplecheckout-cart-total-remove{display:inline-block;width:13px;text-align:center}.simplecheckout-cart-total-remove
img{vertical-align:-2px;cursor:pointer}.simplecheckout-cart
col.image{width:5%}.simplecheckout-cart
col.name{}.simplecheckout-cart
col.model{width:10%}.simplecheckout-cart
col.quantity{}.simplecheckout-cart
col.price{width:10%}.simplecheckout-cart
col.total{width:10%}.simplecheckout-cart
col.remove{width:7px}.simplecheckout-cart
th{border-bottom:1px solid rgb(91, 142, 174);background-color:rgb(52,73,94) !important;color:#FFF;font-weight:bold;padding:8px;font-weight:normal;font-size:13px}.simplecheckout-cart
th.image{width:1px;text-align:center}.simplecheckout-cart
th.name{text-align:center}.simplecheckout-cart
th.model{text-align:center}.simplecheckout-cart
th.quantity{text-align:center}.simplecheckout-cart
th.price{text-align:right}.simplecheckout-cart
th.total{text-align:right}.simplecheckout-cart
th.remove{width:7px;text-align:center}.simplecheckout-cart
td{padding:7px;border-bottom:1px solid #DDD;vertical-align:top}.simplecheckout-cart
td.image{text-align:center}.simplecheckout-cart
td.name{text-align:center}.simplecheckout-cart td.name
div.image{display:none}.simplecheckout-cart
td.model{text-align:center}.simplecheckout-cart
td.quantity{min-width:70px;vertical-align:top;text-align:center;padding:7px
0px !important;white-space:nowrap}.simplecheckout-cart td.quantity .input-group{margin:auto !important}.simplecheckout-cart td.quantity input[type=text]{padding:0;width:30px !important;vertical-align:top;text-align:right;border:1px
solid #E4E4E4;padding:4px
!important;transition:all 0.2s;font-size:10px;margin-right:2px !important;border-radius:4px;float:none !important;height:33px;margin:0
5px 0 5px !important}.simplecheckout-cart td.quantity
img{display:inline-block;border:0px;cursor:pointer}.simplecheckout-cart
td.price{text-align:right;white-space:nowrap}.simplecheckout-cart
td.total{text-align:right;white-space:nowrap}.simplecheckout-cart
td.remove{padding-right:3px;padding-left:3px;width:7px;vertical-align:top;text-align:center}.simplecheckout-cart td.remove
img{max-width:30px !important;cursor:pointer}.simplecheckout-cart td.product-warning{color:#F00;font-weight:bold}.simplecheckout-cart
td.right{vertical-align:middle;text-align:right}@media only screen and (max-width:640px){.simplecheckout-cart col.image,.simplecheckout-cart th.image,.simplecheckout-cart
td.image{display:none}.simplecheckout-cart col.model,.simplecheckout-cart th.model,.simplecheckout-cart
td.model{display:none}.simplecheckout-cart col.price,.simplecheckout-cart th.price,.simplecheckout-cart
td.price{display:none}.simplecheckout-cart td.name
div.image{display:block}.simplecheckout-cart td.name
div.options{display:none}}@media only screen and (max-width:1000px){.simplecheckout-cart col.model,.simplecheckout-cart th.model,.simplecheckout-cart
td.model{display:none}}.simplecheckout-three-column .simplecheckout-cart col.image,
.simplecheckout-three-column .simplecheckout-cart th.image,
.simplecheckout-three-column .simplecheckout-cart td.image,
.simplecheckout-three-column .simplecheckout-cart col.price,
.simplecheckout-three-column .simplecheckout-cart th.price,
.simplecheckout-three-column .simplecheckout-cart td.price,
.simplecheckout-three-column .simplecheckout-cart col.model,
.simplecheckout-three-column .simplecheckout-cart th.model,
.simplecheckout-three-column .simplecheckout-cart
td.model{display:none}.simplecheckout-three-column .simplecheckout-cart td.name
.image{display:block}.simplecheckout-scroll{overflow-y:scroll;max-height:300px}.simplecheckout-error-text{display:block;margin-top:3px;color:#F00;font-size:13px}.simplecheckout-warning-text{margin:5px
0;font-weight:bold}.simplecheckout-warning-block{clear:both;margin-bottom:15px;padding:10px
10px 10px 33px;border:1px
solid #F8ACAC;border-radius:5px 5px 5px 5px;color:#555;text-align:left}.simpleregister-warning-block{margin-bottom:15px;padding:10px
10px 10px 33px;border:1px
solid #F8ACAC;border-radius:5px 5px 5px 5px;color:#555;text-align:left}.simplecheckout-proceed-payment{display:none;margin-bottom:10px;padding:10px;text-align:center;font-weight:bold}#simple_payment_address_block{margin-top:15px}.simplecheckout-customer-same-address{text-align:left;margin:15px
0px}#simplecheckout_login{margin:auto;text-align:center;position:relative}#simplecheckout_payment_form{padding:5px}#simplecheckout_payment_form .checkout-content{display:block}#simplecheckout_payment_form
div.buttons{display:none}#simplecheckout_login .simplecheckout-block-content{padding:5px
!important}#simple_login_layer{position:absolute;top:0;left:0;z-index:99990;display:none;width:100%;background-color:#000}#simple_login{position:fixed;z-index:99991;display:none;overflow:hidden;padding:5px;width:300px;height:250px;border:1px
solid #FFD9FF;-webkit-border-radius:7px 7px 7px 7px;-moz-border-radius:7px 7px 7px 7px;border-radius:7px 7px 7px 7px;background:none repeat scroll 0 0 #FFF;-khtml-border-radius:7px 7px 7px 7px}#simple_login_header{padding:0px
0px;text-align:right;position:absolute;top:0;right:0}#simple_login_header
img{margin:0
0 0 auto}.you-will-be-registered{font-weight:bold}#simple_summary{display:none}#simplecheckout_step_menu{margin-bottom:10px}.simple-step{display:inline-block;padding:5px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;background-color:#D9D9D9;color:#000;font-size:13px;-khtml-border-radius:5px 5px 5px 5px;cursor:pointer}.simple-step-current{display:inline-block;padding:5px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;background-color:#38B0E3;color:#FFF;font-size:13px;-khtml-border-radius:5px 5px 5px 5px}.simple-step-delimiter{display:inline-block;vertical-align:middle;line-height:13px;margin:0px
5px}.simple-step-completed{display:inline-block;padding:5px;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;background-color:#38B0E3;color:#FFF;font-size:13px;-khtml-border-radius:5px 5px 5px 5px}.simple-step-completed
a{color:#FFF !important;text-decoration:none !important;font-size:13px !important}.simplecheckout-summary-info{margin-top:15px !important}.simplecheckout-summary-info
th.name{text-align:left}.simplecheckout-summary-info
td{text-align:left}.simplecheckout-cart-buttons
.buttons{border:none !important;padding:0
!important}#simple_login .simplecheckout-block-content{border:none !important}#temp_flat_container{text-align:center;margin:10px
0px 20px 0px}#simplecheckout_comment .simplecheckout-block-content{border:0
!important;padding:0
!important}#simplecheckout_comment
textarea{width:100% !important;-moz-box-sizing:border-box;box-sizing:border-box;margin:0}.simplecheckout-table-form{width:49%;margin-right:1%;float:left;text-align:left}@media only screen and (max-width:768px){.simplecheckout-table-form{width:100%;margin-right:0%;float:none}}.simplecheckout-three-column .simplecheckout-table-form,
.simplecheckout-left-column .simplecheckout-table-form,
.simplecheckout-right-column .simplecheckout-table-form{width:100%;margin-right:0%;float:none}.simplecheckout-table-form-left{width:50%;text-align:left;padding:3px;vertical-align:top}.simplecheckout-table-form-right{width:50%;text-align:left;padding:3px}.simplecheckout-table-form-right input[type=text],
.simplecheckout-table-form-right input[type=password],
.simplecheckout-table-form-right input[type=email],
.simplecheckout-table-form-right input[type=phone],
.simplecheckout-table-form-right input[type=date],
.simplecheckout-table-form-right input[type=time],
.simplecheckout-table-form-right select,
.simplecheckout-table-form-right
textarea{width:100%;-moz-box-sizing:border-box;box-sizing:border-box}.simplecheckout-table-form-right
label{display:block !important}.checkout-heading{overflow:hidden;font-weight:bold;font-style:normal;font-size:18px !important;text-transform:none;color:#2196F3 !important;background-color:rgb(255, 255, 255) !important;border-color:#2196F3 !important;margin-bottom:10px !important}.checkout-heading
span{display:inline-block !important;float:left}.checkout-heading-button{float:right !important;display:inline-block !important;color:#FFF !important}.checkout-heading-button
a{float:right !important;display:inline-block !important;color:#000 !important;font-weight:bold !important;text-decoration:underline !important;color:#fff !important}.simplecheckout-select-address{text-align:left;margin-bottom:10px}.simple-captcha-container{margin-top:5px}.simplecheckout-tooltip{display:none}#easyTooltip{padding:5px;border:1px
solid #ccc;background:#fde910;-webkit-border-radius:5px 5px 5px 5px;-moz-border-radius:5px 5px 5px 5px;-khtml-border-radius:5px 5px 5px 5px;border-radius:5px 5px 5px 5px;-webkit-box-shadow:0px 2px 2px #DDD;-moz-box-shadow:0px 2px 2px #DDD;box-shadow:0px 2px 2px #DDD}#easyTooltip:before{content:'';position:absolute;left:10px;top:-8px;width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:8px solid #fde910}input[type=email],input[type=phone],input[type=date],input[type=time]{background:none repeat scroll 0 0 white;border:1px
solid #e4e4e4;border-radius:0;box-shadow:0 0 3px rgba(0, 0, 0, 0.08) inset;font-size:13px;padding:8px;transition:all 0.2s ease 0s;width:100%}.simple-content
label{padding-left:5px}.simple-content label
input{margin:0
5px 0 0 !important}.simple-content
h3{border-bottom:1px solid rgb(244, 244, 244);border-color:rgb(244, 244, 244);border-style:solid;color:rgb(42, 43, 46);font-family:"Ubuntu";font-size:16px;font-style:normal;font-weight:400;padding-bottom:8px;padding-top:8px;text-align:left;display:block !important;margin-bottom:10px;text-transform:none}#simplecheckout_login input.form-control{width:100% !important;float:none !important}.simple-content
.buttons{margin-top:0}.simple-content
.button{border-radius:0}.simple-content .form-group .radio label, .simple-content .form-group .checkbox
label{width:100% !important}.row-customer_register
.radio{display:inline-block !important;margin-right:10px}.simple-content .input-group-btn button
i{top:0 !important}