/* Control Panel Settings */
            .quickview .mfp-iframe-holder .mfp-content{height:530px}
                                            #more-details[data-hint]:after{border-radius: 3px;color: rgb(255, 255, 255);background-color: rgb(0, 136, 255)}
                    #more-details i:before{content: '\e07b';font-size: 20px;color: rgb(255, 255, 255)}
                    .quickview #content{background-color: rgb(255, 255, 255)}
                    .quickview h1.heading-title{text-align:left}
                    .label-latest{color: rgb(255, 255, 255);width: 40px;height: 30px; line-height: 30px; padding-top:0; padding-bottom:0;background-color: rgb(66, 139, 202)}
                    .label-sale{color: rgb(255, 255, 255);width: 40px;height: 30px; line-height: 30px; padding-top:0; padding-bottom:0;background-color: rgb(0, 136, 255)}
                    .label-outofstock{background-color:rgb(234, 35, 73);text-transform: uppercase}
                    .hide-cart .cart.outofstock .button{opacity:.5}
                    header .links a, .links .no-link, .mm-header-link a{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 16px;text-transform: none;color: rgb(0, 0, 0)}
                    header .links .no-link{color: rgb(0, 0, 0)}
                    header .journal-secondary a, header .journal-secondary .links > a, .mm-header-link a{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 16px;text-transform: none;color: rgb(0, 0, 0)}
                    header .journal-secondary .no-link{color: rgb(0, 0, 0)}
                            .mega-menu div > h3{font-weight: 400;font-family: "Oswald";font-style: normal;font-size: 13px;text-transform: uppercase;color: rgb(255, 255, 255);background-color: rgb(22, 165, 247);padding-left:7px;padding-top:2px;padding-right:7px;padding-bottom:3px}
                .mega-menu div > h3:hover{background-color: rgb(0, 136, 255)}
                .mega-menu-categories .mega-menu-item ul li a{padding-left:8px}
                .mega-menu-categories .mega-menu-item ul li a:hover{color: rgb(0, 136, 255)}
                .mega-menu-brands div > h3{font-weight: 400;font-family: "Oswald";font-style: normal;font-size: 13px;text-transform: uppercase;color: rgb(255, 255, 255);text-align:left;background-color: rgb(0, 136, 255)}
                    .mega-menu-html div > h3, .mega-menu-mixed .mega-menu-html > h3{font-weight: 400;font-family: "Oswald";font-style: normal;font-size: 13px;text-transform: uppercase;color: rgb(255, 255, 255);text-align:left}
                    .mega-menu-html .mega-menu-item .wrapper{color: rgb(51, 55, 69);background-color: rgb(244, 244, 244);padding-left:10px;padding-bottom:10px;padding-top:10px;padding-right:10px}
                    .super-menu > li > a{font-weight: 700;font-family: "Roboto";font-style: normal;font-size: 19px;text-transform: none;color: rgb(0, 0, 0);line-height:40px}
                    .super-menu > li, .super-menu > li:last-of-type, .journal-desktop .menu-floated .float-right{border-style:none}
                    .drop-down ul li, .mobile-menu .drop-down ul li, .flyout-menu .fly-drop-down ul li{border-bottom-style:solid;border-color: rgb(244, 244, 244)}
                    .mega-menu-categories .mega-menu div > h3{text-align:left}
                    .mega-menu-categories .mega-menu-item > div{padding:8px;background-color: rgb(244, 244, 244)}
                                            .mega-menu-html div > h3{background-color: rgb(0, 136, 255)}
                            .mobile-trigger:before{content: '\e618';font-size: 20px;color: rgb(0, 136, 255);top: -1px}
                                    .mega-menu-categories .mega-menu-item ul li a:before, html[dir='rtl'] .mega-menu-categories .mega-menu-item ul li a::after{content: '\e62c';font-size: 14px}
                    .mobile-trigger, .mobile-menu-on-tablet .mobile-trigger{font-style: normal;font-size: 14px;text-transform: uppercase;color: rgb(0, 0, 0)}
                    .journal-menu .mobile-menu > li .mobile-plus, .tablet.mobile-menu-on-tablet header .journal-menu .mobile-menu > li .mobile-plus, .mobile.mobile-menu-on-tablet header .journal-menu .mobile-menu > li .mobile-plus{background-color: rgb(255, 255, 255);color: rgb(255, 255, 255)}
                    .journal-header-default .links a:hover{background-color: rgb(250, 249, 249)}
                    .journal-header-default .journal-links{background-color: rgb(250, 249, 249)}
                    .journal-header-default .links a, .journal-header-default .links .no-link{border-bottom-width:1px}
                    header .links li:hover a, .mm-header-link li:hover a{color: rgb(0, 136, 255)}
                    .super-menu{background-color: rgb(255, 255, 255);border-top-width: 2px;border-bottom-width: 2px;border-top-left-radius: 2px;border-bottom-left-radius: 2px;border-style: solid;border-color: rgb(238, 238, 238)}
                    .journal-menu-bg{background-color: rgb(255, 255, 255)}
                    .super-menu > li:hover > a{color: rgb(0, 136, 255)}
                            .super-menu > li, .super-menu > li:last-of-type, .journal-desktop .menu-floated .float-left, .journal-desktop .menu-floated .float-right{border-color: rgb(238, 238, 238)}
                    .mega-menu, .html-menu{background-color: rgb(255, 255, 255)}
                    header .journal-secondary a:hover, header .journal-secondary .links > a:hover, .mm-header-link a:hover{color: rgb(0, 136, 255)}
                    .mega-menu div > h3:hover > a{color: rgb(255, 255, 255)}
                            .drop-down ul li:hover > a, .fly-drop-down ul li:hover > a{color: rgb(255, 255, 255)}
                    .drop-down ul li, .fly-drop-down ul li{background-color: rgb(255, 255, 255)}
                    .drop-down ul li:hover, .drop-down ul > li:hover > a, .fly-drop-down ul > li:hover > a{background-color:rgb(22, 165, 247);border-color:rgb(22, 165, 247);}
                            .drop-down ul li:hover > a i:before{color: rgb(255, 255, 255)}
                        .mega-menu .product-grid-item .price{display:inline-block}
                            .mega-menu-item > div, #header .mega-menu .product-wrapper{margin-right:30px}
                    .mega-menu{padding:20px}
                    .mega-menu-column > div > h3, .mega-menu-column > h3{padding-right:7px;background-color: rgb(0, 136, 255);padding-bottom:6px;padding-top:5px;padding-left:7px;font-weight: 400;font-family: "Oswald";font-style: normal;font-size: 13px;text-transform: uppercase;color: rgb(255, 255, 255);margin-bottom:10px}
                    .mega-menu-column.mega-menu-html .wrapper, .mega-menu .mega-menu-column .menu-cms-block{padding-left:10px;padding-bottom:10px;padding-top:10px;background-color: rgb(244, 244, 244);padding-right:10px}
                    .mega-menu-column.mega-menu-html .wrapper h1, .mega-menu-column.mega-menu-html .wrapper h2, .mega-menu-column.mega-menu-html .wrapper h3, .mega-menu .mega-menu-column .menu-cms-block h1, .mega-menu .mega-menu-column .menu-cms-block h2, .mega-menu .mega-menu-column .menu-cms-block h3{color: rgb(42, 43, 46)}
                    .mega-menu-column.mega-menu-html .wrapper p, .mega-menu-column.mega-menu-html .wrapper p span, .mega-menu .mega-menu-column .menu-cms-block{color: rgb(42, 43, 46)}
                    .mega-menu-column.mega-menu-html .wrapper p, .mega-menu .mega-menu-column .menu-cms-block{line-height:20px}
                    .mega-menu-column.mega-menu-html .wrapper h1, .mega-menu-column.mega-menu-html .wrapper h2, .mega-menu-column.mega-menu-html .wrapper h3{padding-bottom:5px}
                            .mega-menu-categories .mega-menu-item ul li.view-more a{font-weight: bold;font-style: normal;font-size: 11px;text-transform: none}
                    .mobile .journal-menu .mobile-menu > li, .tablet.mobile-menu-on-tablet header .journal-menu .mobile-menu > li, .mobile.mobile-menu-on-tablet header .journal-menu .mobile-menu > li, #header .journal-menu .mobile-menu > li .mobile-plus{border-style:solid}
                                    .quote .button{font-size: 15px}
                                                        .product-info .left .image-additional a{padding:0 10px 10px 0}
                            .product-info .image .label-latest{display: block}
                    .product-info .image .label-sale{display: block}
                    .product-info .image .label-outofstock{display: block}
                    .product-options > div, .product-options > ul{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 16px;text-transform: none;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255)}
                                            .product-options > div, .product-options > ul, .skin-11 .right .heading-title{margin-bottom:1px}
                    .product-info .right .description .instock{font-weight: bold;font-style: normal;font-size: 13px;text-transform: none;color: rgb(51, 153, 101)}
                    .product-info .right .description .outofstock{font-weight: bold;font-style: normal;font-size: 13px;text-transform: none;color: rgb(234, 35, 73)}
                    .product-info .right .price .price-new, .product-info .right .price .product-price, .product-info .right .price li.price-new, .product-info .right .price li.product-price{font-weight: 400;font-family: "Roboto";font-style: normal;font-size: 23px;text-transform: none;color: rgb(22, 165, 247)}
                    .product-info .right .price .price-old, .product-info .right .price li.price-old{font-weight: 400;font-family: "Oswald";font-style: normal;font-size: 20px;text-transform: none;color: rgb(244, 67, 54)}
                    .product-info .right .price-old{background-color: rgb(255, 255, 255)}
                    .product-info .option > ul > li:active, .product-info .option > ul > li.selected{box-shadow:inset 0 0 8px rgba(0, 0, 0, 0.7)}
                    #content .product-info .options h3, .ms-sellerprofile.description h3{color: rgb(255, 255, 255);background-color: rgb(169, 184, 192)}
                    .product-info .option > ul > li{font-size: 18px;color: rgb(255, 255, 255);background-color: rgb(66, 139, 202)}
                    .product-info .right .cart div .qty{border-width: 1px;border-radius: 1px;border-style: solid;border-color: rgb(238, 238, 238)}
                    #button-cart, .product-info .right .cart div .button.enquiry-button{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 23px;text-transform: none;color: rgb(255, 255, 255)}
                            .product-info .right .wishlist-compare .links a{font-weight: bold;font-style: normal;font-size: 14px;text-transform: none;color: rgb(20, 53, 70)}
                .product-info .right .wishlist-compare .links a:hover{color: rgb(0, 136, 255)}
                #tabs a, #tabs li a{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 23px;text-transform: none;color: rgb(0, 0, 0);box-shadow:inset 0 -3px 6px -2px rgba(0, 0, 0, 0.5)}
                                            .product-info .tab-content, .tab-content{padding:15px}
                                    .product-info .left .journal-custom-tab{background-color: rgb(250, 250, 250);padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:10px}
                                    .product-info .right .journal-custom-tab{background-color: rgb(255, 255, 255);padding-left:10px;padding-top:10px;padding-bottom:10px;padding-right:10px}
                    .product-info .gallery-text:before{content: '\e015';font-size: 16px}
                    #product-gallery .swiper-button-prev::before{content: '\e62b';font-size: 18px;color: rgb(255, 255, 255);top: -1px;left: -1px}
                    #product-gallery .swiper-button-next::before{content: '\e62c';font-size: 18px;color: rgb(255, 255, 255);top: -1px;left: 1px}
                    #button-cart .button-cart-text:before, #button-cart .button-cart-text:after{content: '\e17e';font-size: 26px;color: rgb(255, 255, 255);top: 5px}
                    .product-info .right .wishlist-compare .links a:before{content: '\e662';font-size: 16px;color: rgb(22, 165, 247)}
                    .product-info .right .wishlist-compare .links a+a:before{content: '\f080';font-size: 16px;color: rgb(22, 165, 247)}
                            .product-info .right .options .option{border-color: rgb(189, 195, 199)}
                    .product-info .option > ul > li.selected, .product-info .option > ul > li:hover{color: rgb(255, 255, 255);background-color: rgb(234, 35, 73)}
                    .product-info .right .cart div .journal-stepper{color: rgb(255, 255, 255);background-color: rgb(22, 165, 247);font-size:14px}
                .product-info .right .cart div .journal-stepper:hover{color: rgb(255, 255, 255);background-color: rgb(0, 136, 255)}
                    #button-cart:hover, .product-info .right .cart div .button.enquiry-button:hover, .quickview #more-details:hover{color: rgb(255, 255, 255)}
                                #tabs a:hover, #tabs a.selected, #tabs li a:hover, #tabs li.active a{color: rgb(0, 136, 255);background-color: rgb(255, 255, 255)}
                    .product-info .tab-content, .tab-content, .quickview .tab-content{background-color: rgb(255, 255, 255)}
                            .tags a{background-color: rgb(244, 244, 244)}
                .tags a:hover{background-color: rgb(0, 136, 255);color: rgb(255, 255, 255)}
                .tags b{background-color: rgb(255, 255, 255);color: rgb(0, 0, 0)}
                    .tags{text-align:left}
                    .tags a, .tags b{border-radius: 15px}
                        .product-info .right > div > div, .product-info .right > div > ul{padding-left:10px;padding-top:10px;padding-right:10px;padding-bottom:10px}
                    #product-gallery .swiper-button-prev, #product-gallery .swiper-button-next{width:22px;height:22px; line-height:22px;background-color: rgb(234, 35, 73)}
                    #product-gallery .swiper-button-prev:hover::before, #product-gallery .swiper-button-next:hover::before{color: rgb(255, 255, 255)}
                    #product-gallery .swiper-button-prev:hover, #product-gallery .swiper-button-next:hover{background-color: rgb(66, 139, 202)}
                    .product-info .right .options .option b, .product-info .right .options .option .control-label{font-weight: bold;font-style: normal;font-size: 13px;text-transform: none}
                            .attribute tbody td{text-align:left}
                                    #product .product-sold-count-text{padding-left:0px;padding-bottom:8px;padding-right:8px;padding-top:8px}
                    .product-sold-count-text{font-weight: bold;font-style: normal;font-size: 15px;text-transform: none}
                    .product-options .product-sold-count-text{background-color: rgb(238, 238, 238)}
                    .product-page .heading-title{text-align:left;font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 32px;text-transform: none;color: rgb(0, 0, 0)}
                    .attribute tr td:first-child{text-align:left}
                            .product-info .right .options.push-1 .option-image li span img:hover, .product-info .right .options.push-image .option-image li span img:hover, .product-info .right .options.push-select .option-image li.selected span img, .product-info .right .options.push-image .option-image li.selected span img, .product-info .right .options.push-checkbox .option-image li.selected span img, .product-info .right .options.push-radio .option-image li.selected span img{border-color: rgb(234, 35, 73)}
                                                                    body{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 16px;text-transform: none;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255)}
                    .home-page #container{background-color: rgb(255, 255, 255)}
                    .heading-title, .box-heading, #blogArticle .articleHeader h1, .oc-filter .panel-heading{text-align:left;border-bottom-width: 2px;border-style: solid;border-color: rgb(22, 165, 247);line-height:40px; min-height:40px;}
                    .secondary-title, #content #review-title, #content legend, .checkout-content h2{text-align:left;font-weight: 400;font-family: "Roboto";font-style: normal;font-size: 16px;text-transform: none;color: rgb(0, 0, 0);padding-top:8px; padding-bottom:8px;padding-left:10px; padding-right:10px}
                    .heading-title, .box-heading, #blogArticle .articleHeader h1, #swipebox-caption, .journal-carousel .htabs.single-tab a:hover, .journal-carousel .htabs.single-tab a.selected, .oc-filter .panel-heading{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 22px;text-transform: none;color: rgb(0, 0, 0)}
                    .button, .side-column .box-content a.button, #quickcheckout .button, .modal-footer .btn{font-weight: 400;font-family: "Oswald";font-style: normal;font-size: 13px;text-transform: uppercase;color: rgb(255, 255, 255)}
                    .button, #quickcheckout .button, .modal-footer .btn{border-radius: 2px;padding:0 10px;line-height:33px;background-color: rgb(22, 165, 247)}
                    .breadcrumb{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 16px;text-transform: none;color: rgb(0, 0, 0);background-color: rgb(255, 255, 255)}
                    .scroll-top:before{content: '\e021';font-size: 45px;color: rgb(22, 165, 247)}
                    #container{background-color: rgb(255, 255, 255);margin-top:10px}
                    .extended-layout .extended-container{background-color: rgb(255, 255, 255)}
                    a{color: rgb(66, 139, 202)}
                a:hover{color: rgb(22, 165, 247)}
                    .secondary-title, #content #review-title,#content legend, .checkout-content h2{background-color: rgb(255, 255, 255)}
                    .button:hover, .side-column .box-content a.button:hover, #quickcheckout .button:hover, .modal-footer .btn:hover{color: rgb(255, 255, 255)}
                    .button:hover, #quickcheckout .button:hover, .modal-footer .btn:hover{background-color: rgb(0, 136, 255)}
                    .breadcrumb a:hover{color: rgb(22, 165, 247)}
                    .scroll-top:hover:before{color: rgb(0, 136, 255)}
                    .heading-title, .box-heading, #blogArticle .articleHeader h1, .journal-carousel .htabs.single-tab a, .oc-filter .panel-heading, .journal-carousel .htabs.single-tab a{padding-left:10px}
                            .home-page body{background-color: rgb(255, 255, 255)}
                                    .box-sections ul li, .custom-sections .box-heading.box-sections{border-style:solid}
                    .custom-sections .box-heading{border-bottom-width: 2px;border-style: solid;border-color: rgb(238, 238, 238);background-color: rgb(255, 255, 255)}
                    .box-sections ul li a{color: rgb(0, 0, 0)}
                    .box-sections, .box-sections ul li a, #top-modules .journal2_custom_sections::before, #bottom-modules .journal2_custom_sections::before{line-height:40px; min-height:40px;}
                    .box-sections ul li a:hover, .box-sections ul li a.selected{background-color: rgb(0, 136, 255)}
                                    #footer{margin-top:0px;margin-bottom:0px;background-color: rgb(250, 249, 249)}
                    footer .column > h3{border-bottom-style:solid;text-align:left;font-weight: 400;font-family: "Oswald";font-style: normal;font-size: 16px;text-transform: uppercase;color: rgb(22, 165, 247);border-color: rgb(168, 168, 168)}
                    footer .column-menu-wrap > ul li{color: rgb(51, 55, 69)}
                    footer .contacts{box-shadow:0 0 7px rgba(0,0,0,.4);background-color: rgb(63, 87, 101)}
                    footer .contacts [data-hint]:after{border-radius: 3px;color: rgb(255, 255, 255);background-color: rgb(66, 139, 202)}
                    .bottom-footer{box-shadow:0 0 7px rgba(0,0,0,.4);background-color: rgb(244, 244, 244)}
                    .fullwidth-footer{background-color: rgb(250, 249, 249)}
                    footer .column-menu-wrap > ul li:hover a{color: rgb(22, 165, 247)}
                    footer .contacts > div > span > .contact-icon{background-color: rgb(51, 55, 69)}
                    footer a .contacts-text:hover{color: rgb(234, 35, 73)}
                    footer .contacts-text{color: rgb(255, 255, 255)}
                    footer .column-text-wrap h1, footer .column-text-wrap h2, footer .column-text-wrap h3{padding-bottom:3px;font-weight: 400;font-family: "Oswald";font-style: normal;font-size: 14px;text-transform: uppercase;color: rgb(255, 255, 255)}
                    .column.products .product-grid-item .price, .column.products .product-grid-item .price-new{color: rgb(255, 255, 255)}
                    .column.products .product-grid-item .name a, .footer-post-title{color: rgb(255, 255, 255)}
                    .column.products .product-grid-item{border-color: rgb(95, 104, 116);padding:4px 0;border-bottom-style:solid}
                            .column.products .product-grid-item .name a{white-space:normal}
                .footer-post{border-color: rgb(95, 104, 116);padding:7px 0;border-bottom-style:solid}
                                            #cart .heading i{border-left-style:solid}
                    .mini-cart-info table tr{border-bottom-style:solid;border-bottom-color: rgb(228, 228, 228)}
                    #cart .heading, .ie9 #cart button.heading{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 14px;text-transform: none;color: rgb(80, 80, 80)}
                                                    .mini-cart-info table tr td.image img{border-width: 3px;border-style: solid;border-color: rgb(244, 244, 244)}
                    .mini-cart-info{max-height:350px}
                    .mini-cart-total{font-weight: bold;font-family: Helvetica, Arial, sans-serif;font-style: normal;font-size: 14px;text-transform: none;color: rgb(51, 55, 69);background-color: rgb(244, 244, 244)}
                    .button-search, .journal-header-center .button-search{border-right-style:solid}
                    #search input{background-color: rgb(250, 250, 250)}
                    .journal-header-center #search input{border-width: 1px;border-radius: 25px;border-style: solid;border-color: rgb(228, 228, 228)}
                    .journal-header-center .button-search{border-radius: 25px}
                            .autocomplete2-suggestion span.p-price{display:block}
                                    .autocomplete2-suggestions > div{max-height:350px}
                    .journal-header-center #language, .journal-header-center #currency{border-style:solid;border-color: rgb(244, 244, 244)}
                    .journal-language .dropdown-menu, .journal-currency .dropdown-menu{border-radius: 3px;background-color: rgb(255, 255, 255);box-shadow:0 2px 2px rgba(0, 0, 0, 0.15)}
                    .journal-currency form .currency-symbol{border-radius: 50%;background-color: rgb(255, 255, 255)}
                    #cart .heading i:before{content: '\e000';font-size: 27px;color: rgb(80, 80, 80)}
                    .button-search i:before{content: '\e697';font-size: 20px;color: rgb(169, 184, 192)}
                    .journal-top-header{background-color: rgb(250, 249, 249)}
                    .header, .boxed-header.default-header .journal-login{background-color: rgb(255, 255, 255)}
                    .journal-header-default #logo, .journal-header-compact #logo{background-color: rgb(255, 255, 255)}
                    .journal-header-default #cart{background-color: rgb(234, 35, 73)}
                    #cart .content .cart-wrapper, .oc2 #cart .checkout{background-color: rgb(255, 255, 255)}
                    .mini-cart-info table tr td.remove i{color: rgb(22, 165, 247)}
                    .mini-cart-info table tr td.remove i:hover, .firefox .mini-cart-info table tr td.remove button:hover i{color: rgb(0, 136, 255)}
                    .autocomplete2-suggestion{border-bottom-style:solid;border-color: rgb(189, 195, 199)}
                .autocomplete2-suggestion:hover{background-color: rgb(228, 228, 228)}
                .button-search:hover i:before{color: rgb(255, 255, 255)}
                    .button-search{background-color: rgb(228, 228, 228);border-color:rgb(238, 238, 238)}
                .button-search:hover{background-color: rgb(0, 136, 255)}
                    .autocomplete2-suggestions{background-color: rgb(244, 244, 244);box-shadow: 0px 0px 30px rgb(0, 0, 0)}
                        .journal-language .dropdown-menu > li > a, header .journal-currency .dropdown-menu > li > a{color: rgb(51, 55, 69)}
                    .journal-language .dropdown-menu > li > a:hover, header .journal-currency .dropdown-menu > li > a:hover{color: rgb(51, 55, 69)}
                    .journal-language .dropdown-menu > li > a:hover, .journal-currency .dropdown-menu > li > a:hover{background-color: rgb(244, 244, 244)}
                    .boxed-header body{padding-top:5px}
                    .journal-header-center .journal-top-header, .journal-header-center .journal-secondary{border-bottom-style:solid; border-top-style:solid;}
                    .journal-language .dropdown-menu > li, .journal-currency .dropdown-menu > li{border-top-style:solid}
                    .autocomplete2-suggestion .p-image{display:block}
                                            .is-sticky .header{box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.3)}
                    html:not(.home-page) .header, html:not(.home-page).boxed-header.default-header .journal-login{background-color: rgb(255, 255, 255)}
                                                                                .product-wrapper{background-color: rgb(255, 255, 255)}
                                    .product-grid-item .image .label-latest{display: block}
                    .product-grid-item .image .label-sale{display: block}
                    .product-grid-item .image .label-outofstock{display: block}
                    .product-grid-item .name a, .posts h2 a{white-space:normal;font-weight: normal;font-style: normal;font-size: 16px;text-transform: none;color: rgb(51, 55, 69)}
                    .product-grid-item .price{display:inline-block;;border-top-width: 1px;border-style: solid;border-color: rgb(228, 228, 228);padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px;display:inline-block}
                            .product-details:before{font-size: 25px;color: rgb(255, 255, 255)}
                                            .product-grid-item .quickview-button {margin-left: -19px;margin-top: -20px}
                    .product-grid-item .quickview-button .button{border-radius: 50%}
                    .product-grid-item .quickview-button .button[data-hint]:after{border-radius: 3px;color: rgb(255, 255, 255);background-color: rgb(66, 139, 202)}
                    .product-grid-item.display-icon .wishlist > a, .product-grid-item.display-icon .compare > a{border-radius: 50%;width:35px;height:35px; padding:0;;background-color: rgb(234, 35, 73)}
                    .product-grid-item .wishlist [data-hint]:after, .product-grid-item .compare [data-hint]:after{border-radius: 3px;color: rgb(255, 255, 255);background-color: rgb(66, 139, 202)}
                    .product-grid-item .cart:not(.enquiry-button) i::before{content: '\e000';font-size: 23px;color: rgb(255, 255, 255)}
                    .product-grid-item .quickview-button .button-left-icon:before, .product-grid-item .quickview-button .button-right-icon:before{content: '\e015';font-size: 22px;color: rgb(255, 255, 255);top: -1px}
                    .product-grid-item .wishlist-icon:before{content: '\e662';font-size: 14px;color: rgb(0, 136, 255)}
                    .product-grid-item .compare-icon:before{content: '\f080';font-size: 14px;color: rgb(0, 136, 255)}
                    .product-grid-item .price, .product-grid-item .price-new{font-weight: bold;font-style: normal;font-size: 17px;text-transform: none;color: rgb(51, 55, 69)}
                    .product-grid-item .price-old, .compare-info .price-old, .autocomplete2-suggestion span.p-price .price-old{color: rgb(234, 35, 73)}
                            .product-grid-item .wishlist a, .product-grid-item .compare a{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 14px;text-transform: none;color: rgb(51, 55, 69)}
                    .product-grid-item .wishlist a:hover, .product-grid-item .compare a:hover{color: rgb(0, 136, 255)}
                            .product-grid-item .name a:hover, .side-column .product-grid-item .name a:hover, .posts h2 a:hover{color: rgb(0, 136, 255)}
                    .product-grid-item.display-icon .wishlist > a:hover, .product-grid-item.display-icon .compare > a:hover{background-color: rgb(66, 139, 202)}
                    .soft-shadow .product-wrapper{box-shadow:none}
                    .product-grid-item .rating{top:-60px;margin-left:-47px;display:block}
                                .product-grid-item .description{display:none}
                                                                        .category-list ul li a, .refine-category-name{color: rgb(42, 43, 46)}
                    .category-list ul li:after{color: rgb(228, 228, 228)}
                    .category-list{background-color: rgb(51, 55, 69)}
                    .refine-image a{background-color: rgb(255, 255, 255)}
                .refine-image a:hover{background-color: rgb(255, 255, 255)}
                                .product-filter, .product-compare a{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 16px;text-transform: none;color: rgb(0, 0, 0)}
                    .pagination b, .pagination a:hover, .pagination .active{color: rgb(255, 255, 255)}
                    .category-list ul li a:hover, .refine-image a:hover .refine-category-name{color: rgb(0, 136, 255)}
                        .pagination{background-color: rgb(250, 250, 250);box-shadow:none}
                    .product-filter .display a i:hover, .product-filter .display a.active i{color:rgb(22, 165, 247) !important}
                            .product-compare a:hover{color: rgb(0, 136, 255)}
                    .pagination a, .pagination b, .pagination li{border-radius: 50%}
                    .pagination a{background-color: rgb(255, 255, 255);color: rgb(51, 55, 69)}
                    .pagination b, .pagination a:hover, .pagination li.active {background-color: rgb(0, 136, 255)}
                    .pagination .results, .dataTables_info{font-weight: bold;font-style: normal;font-size: 13px;text-transform: none}
                            .category-page .heading-title{text-align:left}
                                            .tp-bannertimer, .tp-bannertimer.tp-bottom{height:2px;background-color: rgb(0, 136, 255)}
                    .tp-bullets.tp-thumbs .bullet:before{opacity:.4}
                    .tp-bullets.tp-thumbs .bullet.selected:before, .tp-bullets.tp-thumbs .bullet:hover:before{opacity:0}
                    .tp-bullets.tp-thumbs{border-width: 5px;border-radius: 3px;border-style: solid;border-color: rgb(255, 255, 255)}
                    .tp-leftarrow:before, .tp-leftarrow.default:before, .journal-simple-slider .owl-controls .owl-buttons .owl-prev:before{content: '\e093';font-size: 35px;color: rgb(255, 255, 255)}
                    .tp-rightarrow:before, .tp-rightarrow.default:before, .journal-simple-slider .owl-controls .owl-buttons .owl-next:before{content: '\e094';font-size: 35px;color: rgb(255, 255, 255)}
                    .tp-bullets.simplebullets.round .bullet.selected, .tp-bullets.simplebullets.round .bullet:hover, .journal-simple-slider .owl-controls .owl-page.active span, .journal-simple-slider .owl-controls.clickable .owl-page:hover span{background-color: rgb(0, 136, 255)}
                    .tp-bullets.simplebullets.round .bullet, .journal-simple-slider .owl-controls .owl-page span{background-color: rgb(255, 255, 255);border-radius: 50%;margin-left:8px;width:12px;height:12px}
                    .tp-leftarrow:hover:before, .tp-leftarrow.default:hover:before, .tp-rightarrow:hover:before, .tp-rightarrow.default:hover:before, .journal-simple-slider .owl-controls .owl-buttons .owl-prev:hover:before, .journal-simple-slider .owl-controls .owl-buttons .owl-next:hover:before{color: rgb(0, 136, 255)}
                    .journal-carousel .htabs a, .side-column .journal-carousel .htabs a{border-right-style:solid;border-color: rgb(255, 255, 255)}
                                            .journal-carousel.arrows-top .swiper-button-prev::before{content: '\e60f';font-size: 22px;color: rgb(255, 255, 255)}
                    .journal-carousel.arrows-top .swiper-button-next::before{content: '\e60e';font-size: 22px;color: rgb(255, 255, 255)}
                    .swiper-pagination-bullet{background-color: rgb(95, 104, 116);border-radius: 50%;width:12px;height:12px}
                    .journal-carousel.arrows-top .swiper-button-prev:hover::before, .journal-carousel.arrows-top .swiper-button-next:hover::before{color: rgb(66, 139, 202)}
                    .swiper-pagination-bullet:hover, .swiper-pagination-bullet.swiper-pagination-bullet-active{background-color: rgb(0, 136, 255)}
                            .journal-carousel .htabs a:hover, .journal-carousel .htabs a.selected{color: rgb(255, 255, 255);background-color: rgb(66, 139, 202)}
                    .journal-carousel.arrows-top .swiper-button-next{right:0px}
                    .journal-carousel:not(.arrows-top) .swiper-button-next{right:10px}
                    .journal-carousel.arrows-top .swiper-button-prev, .journal-carousel.arrows-top .swiper-button-next{width:32px;height:32px;;top:-56px;border-radius: 50%}
                    .journal-carousel:not(.arrows-top) .swiper-button-prev, .journal-carousel:not(.arrows-top) .swiper-button-next{background-color: rgb(0, 136, 255)}
                    .journal-carousel:not(.arrows-top) .swiper-button-prev{left:10px}
                    .journal-carousel:not(.arrows-top) .swiper-button-prev:hover, .journal-carousel:not(.arrows-top) .swiper-button-next:hover{background-color: rgb(66, 139, 202)}
                                            .journal-carousel.arrows-top .swiper-button-prev{right:25px}
                    .journal-carousel:not(.arrows-top) .swiper-button-prev:hover::before, .journal-carousel:not(.arrows-top) .swiper-button-next:hover::before{color: rgb(255, 255, 255)}
                                            .side-column .journal-carousel.arrows-top .swiper-button-prev, .side-column .journal-carousel.arrows-top .swiper-button-next{top:-36px}
                    .cart-info tbody td, .wishlist-info tbody td, .compare-info td, .journal-checkout .checkout-cart tbody td, .journal-checkout .checkout-cart tbody td:first-of-type{border-bottom-style:solid}
                            .cart-info .image a img, .wishlist-info .image a img, .compare-info tbody tr:first-of-type + tr > td img{border-width: 3px;border-style: solid;border-color: rgb(244, 244, 244)}
                            .action-area h3{color: rgb(255, 255, 255);background-color: rgb(0, 136, 255)}
                                    .buttons{border-color: rgb(250, 250, 250);padding-top:15px; padding-bottom:15px;;padding-left:15px; padding-right:15px;background-color: rgb(255, 255, 255)}
                    .cart-info table, .wishlist-info table, .compare-info td, table.list tbody td, .order-list .order-content{background-color: rgb(255, 255, 255)}
                    .cart-info tbody td, .wishlist-info tbody td, .compare-info td, table.list tbody td, .order-list .order-content{color: rgb(51, 55, 69)}
                    .cart-info tbody td a, .wishlist-info tbody td a, .compare-info .name a{color: rgb(66, 139, 202)}
                    .cart-info tbody td a:hover, .wishlist-info tbody td a:hover, .compare-info .name a:hover{color: rgb(0, 136, 255)}
                    .cart-info thead td, .wishlist-info thead td, .compare-info thead td, .manufacturer-heading, table.list thead td, .order-list .order-id, .order-list .order-status{color: rgb(0, 0, 0)}
                    .cart-info tbody td, .wishlist-info tbody td, .compare-info td, .journal-checkout .checkout-cart tbody td, .journal-checkout .checkout-cart tbody td:first-of-type, .account-page table.list td, .account-page table.list{border-color: rgb(244, 244, 244)}
                    .login-content > div, .sitemap-info > div > ul{background-color: rgb(250, 250, 250)}
                    .login-content hr{background-color: rgb(228, 228, 228)}
                    #content.sc-page .content p, #content.sc-page .action-area p, .cart-total, table.list tfoot td{background-color: rgb(250, 250, 250)}
                    table.radio .highlight:hover td label, .action-area .panel-title:hover a{color: rgb(255, 255, 255)}
                    table.radio .highlight td, .action-area .panel-heading{background-color: rgb(255, 255, 255)}
                    table.radio .highlight:hover td, .action-area .panel-heading:hover{background-color: rgb(95, 104, 116)}
                    #content.sc-page .content table.radio .highlight td{border-color: rgb(244, 244, 244)}
                    .checkout-heading, .checkout .panel-heading, .route-checkout-checkout .panel-heading:hover{background-color: rgb(95, 104, 116)}
                    .checkout-heading{border-color: rgb(51, 55, 69);border-bottom-style:solid}
                    .checkout-product thead td, .checkout-product tfoot td{color: rgb(51, 55, 69);background-color: rgb(255, 255, 255)}
                    .checkout-product tbody td{border-color: rgb(244, 244, 244)}
                    .checkout-content, .checkout-page .panel-body{background-color: rgb(255, 255, 255)}
                    .checkout-content, .checkout-page .panel-body {padding:12px}
                    .checkout-heading, .checkout .panel-title, .route-checkout-checkout .panel-title{color: rgb(255, 255, 255)}
                                    .information-page #content h1.heading-title{text-align:left}
                    table.radio .highlight td label, .action-area .panel-title{color: rgb(63, 87, 101)}
                                                    .ui-pnotify {display: block !important;background-color: rgb(255, 255, 255)}
                    .ui-pnotify-text img {display: block;border-width: 3px;border-style: solid;border-color: rgb(228, 228, 228)}
                    .ui-pnotify-title {font-weight: bold;font-style: normal;font-size: 14px;text-transform: none;color: rgb(255, 255, 255);background-color: rgb(95, 104, 116)}
                            .ui-pnotify-closer{color: rgb(255, 255, 255)}
                .ui-pnotify-closer:hover{color: rgb(66, 139, 202)}
                    .ui-pnotify-text a{color: rgb(66, 139, 202)}
                .ui-pnotify-text a:hover{color: rgb(0, 136, 255)}
                    .notification-buttons .notification-checkout:hover{color: rgb(255, 255, 255)}
                    .notification-buttons .notification-cart:hover{color: rgb(255, 255, 255)}
                    .notification-buttons{display:block}
                    .notification-buttons .notification-cart{color: rgb(255, 255, 255)}
                .notification-buttons .notification-checkout{color: rgb(255, 255, 255)}
                                    .journal-sf ul label img{border-width: 2px;border-style: solid;border-color: rgb(228, 228, 228)}
                    .sf-icon .sf-reset-icon::after, .sf-reset .sf-reset-icon::after{content: '\e025';font-size: 20px}
                    .sf-price .ui-widget-header{background-color: rgb(22, 165, 247)}
                    .sf-price .value{color: rgb(255, 255, 255);background-color: rgb(95, 104, 116);border-radius: 3px}
                    .sf-price .ui-slider-handle:hover{background-color: rgb(0, 136, 255)}
                    .sf-price .ui-slider-handle{background-color: rgb(22, 165, 247);border-radius: 50%;height:16px;top:-7px;width:16px}
                .journal-sf ul label.sf-checked img, .journal-sf ul label:hover img{border-color: rgb(169, 184, 192)}
                    .side-column .journal-sf .box ul li label.sf-checked, .side-column .journal-sf .box ul li label:hover{color: rgb(234, 35, 73)}
                    .sf-reset{color: rgb(255, 255, 255)}
                .sf-reset:hover{color: rgb(95, 104, 116)}
                    .sf-icon:after{color: rgb(255, 255, 255);background-color: rgb(63, 87, 101)}
                    .side-column .journal-sf .box ul li{border-color: rgb(228, 228, 228);padding-left:10px;padding-top:5px;padding-bottom:5px;border-bottom-style:solid}
                    .sf-price .box-content{padding-bottom:40px;padding-left:25px;padding-right:25px;padding-top:20px}
                            .sf-price .ui-slider-horizontal{height:3px}
                            .journal-sf .sf-image .box-content ul li{padding-bottom:10px;padding-right:10px;width:20%}
                    .side-column .journal-sf .box ul li label{font-weight: bold;font-style: normal;font-size: 13px;text-transform: none}
                            .journal-sf .sf-image .box-content{padding-left:10px;padding-top:10px;padding-right:10px;padding-bottom:10px}
                    .sf-price .ui-widget-content{background: rgb(0, 136, 255)}
                    .journal-sf .box-content{max-height:265px}
                            .journal-sf .sf-category.sf-image .box-content ul li{width:25%}
                    .journal-sf .sf-manufacturer.sf-image .box-content ul li{width:25%}
                                    .side-column .block-content{padding:10px}
                                    .side-column .box.cms-blocks .block-content{background-color: rgb(250, 250, 250)}
                    .editor-content h1, .editor-content h2, .editor-content h3, .side-block-content h1, .side-block-content h3, .side-block-content h3{padding-bottom:7px;font-weight: 300 ;font-family: "Roboto" ;font-style: normal ;text-transform: none }
                    .nav-numbers a{background-color: rgb(95, 104, 116);border-radius: 50%;width:12px;height:12px}
                    .nav-numbers a:hover, .nav-numbers li.active a{background-color: rgb(0, 136, 255)}
                            .gallery-thumb a:before{content: '\e015';font-size: 30px;color: rgb(255, 255, 255)}
                    .gallery-thumb .item-hover{background-color: rgba(0, 0, 0, 0.5)}
                    .lg-backdrop{background-color: rgba(0, 0, 0, 0.75)}
                    .lg-toolbar, .lg-sub-html{background-color: rgb(51, 55, 69)}
                    .lg-toolbar .lg-icon:hover, #lg-intense-zoom:hover{color: rgb(0, 136, 255)}
                    .lg-sub-html{color: rgb(255, 255, 255)}
                    .side-column .journal-gallery .box-content{padding:10px !important}
                    .product-list-item{background-color: rgb(244, 244, 244)}
                                    .product-list-item .image .label-latest{display: block}
                    .product-list-item .image .label-sale{display: block}
                    .product-list-item .image .label-outofstock{display: block}
                                            .product-list-item .description{display:block}
                            .product-list-item .cart .button[data-hint]:after{border-radius: 3px;color: rgb(255, 255, 255);background-color: rgb(66, 139, 202)}
                    .product-list-item .quickview-button {margin-left: -20px;margin-top: -20px}
                    .product-list-item .quickview-button .button{border-radius: 50px}
                    .product-list-item .quickview-button .button[data-hint]:after{border-radius: 3px;color: rgb(255, 255, 255);background-color: rgb(66, 139, 202)}
                    .product-list-item .wishlist a, .product-list-item .compare a{color: rgb(51, 55, 69)}
                    .product-list-item .cart:not(.enquiry-button) i:before{content: '\e000';font-size: 23px;color: rgb(255, 255, 255)}
                    .product-list-item .quickview-button .button-left-icon:before, .product-list-item .quickview-button .button-right-icon:before{content: '\e015';font-size: 20px;color: rgb(255, 255, 255)}
                    .product-list-item .wishlist-icon:before{content: '\e662';font-size: 11px;color: rgb(51, 55, 69)}
                    .product-list-item .compare-icon:before{content: '\e025';font-size: 11px;color: rgb(51, 55, 69)}
                    .product-list-item .wishlist a:hover, .product-list-item .compare a:hover{color: rgb(234, 35, 73)}
                    .side-column .box-content li a, .side-column .box-category li a, .flyout-menu .flyout > ul > li > a,  .journal-sf ul li, .side-column .oc-module .product-grid-item, #column-right .recentArticles li, #column-right .popularArticles li, #column-left .recentArticles li, #column-left .popularArticles li, .side-post + hr{border-bottom-style:solid}
                                    .side-column .side-category-accordion i{background-color: rgb(255, 255, 255)}
                .side-column .side-category-accordion i:hover{color: rgb(66, 139, 202);background-color: rgb(255, 255, 255)}
                        .side-column .box-content li a, .side-column .store-picker, .side-column .box, .side-column .box-category li a, .flyout-menu .flyout > ul > li > a, .side-column .oc-module .product-grid-item, #column-right .recentComments li, #column-left .recentComments li, #column-right .recentArticles li, #column-right .popularArticles li, #column-left .recentArticles li, #column-left .popularArticles li, .side-column .oc-store{background-color: rgb(255, 255, 255)}
                    .side-column, .side-column .oc-module .product-grid-item .price, .journal-sf ul li label, .side-post-title{color: rgb(51, 55, 69)}
                    .side-column .box-content li a:hover, .side-column .box-category li a:hover, .flyout-menu .flyout > ul > li:hover > a, .flyout-menu .flyout > ul > li > a:active, .side-column .box-content li a.active, .side-column .box-category li a.active, .side-column .oc-module .product-grid-item .name a:hover, #column-right .recentArticles li > a:hover, #column-right .popularArticles li > a:hover, #column-left .recentArticles li > a:hover, #column-left .popularArticles li > a:hover{color: rgb(74, 144, 226)}
                    .side-column .box-content li a:hover, .side-column .box-category li a:hover, .flyout-menu .flyout > ul > li:hover > a, .flyout-menu .flyout > ul > li > a:active, .side-column .box-content li a.active, .side-column .box-category li a.active{background-color: rgb(250, 250, 250)}
                    .side-column .box-content li a, .side-column .box-category li a, .flyout-menu .flyout > ul > li > a, .journal-sf ul li, .side-column .oc-module .product-grid-item, #column-right .recentArticles li, #column-right .popularArticles li, #column-left .recentArticles li, #column-left .popularArticles li, .side-post + hr {border-color:rgb(255, 255, 255)}
                                .side-column .heading-title, .side-column .box-heading, .side-column #blogArticle .articleHeader h1, .oc-filter .panel-heading{background-color: rgb(255, 255, 255);border-bottom-width: 2px;border-style: solid;border-color: rgb(238, 238, 238)}
                    .side-column .box-content li a, .side-column .box-category li a{padding-top:10px;padding-right:25px;padding-bottom:10px;padding-left:10px}
                    .side-column .oc-module .product-grid-item{padding-top:5px;padding-right:5px;padding-bottom:5px;padding-left:5px}
                    .side-column .side-category i{height:20px;margin-top:0px;margin-right:8px;font-family: Helvetica, Arial, sans-serif;font-weight: normal;font-style: normal;font-size: 24px;text-transform: none;color: rgb(74, 144, 226);width:20px}
                    .side-column .oc-module .product-grid-item .name a{white-space:nowrap}
                    .side-column .box-content li a, .side-column .box-category li a, .flyout-menu .flyout > ul > li > a, #column-right .recentArticles li > a, #column-right .popularArticles li > a, #column-left .recentArticles li > a, #column-left .popularArticles li > a, .side-post-title{color: rgb(51, 55, 69)}
                    #content .welcome h1, .side-column .welcome h1{text-align:left;border-color: rgb(189, 195, 199);font-weight: bold;font-family: Helvetica, Arial, sans-serif;font-style: normal;font-size: 30px;text-transform: none;color: rgb(51, 55, 69);border-bottom-style:solid}
                    #content .welcome p, .side-column .welcome p{text-align:left}
                    .product-grid-item .name{display:table}
                    .product-info .right .description{display:block}
                    .product-info .right > div > .options{display:block}
                    .product-info .product-options > .cart{display:block}
                    .product-info .right > div > .price{display:block}
                    .product-info .right .wishlist-compare .links a:first-of-type{display:inline-block;}
                    .product-info .right .wishlist-compare .links a + a{display:inline-block}
                    .product-grid-item .compare, .product-filter .product-compare{display:inline-block;}
                    .product-grid-item .wishlist{display:inline-block}
                    .journal-carousel .product-grid-item .cart{display:block}
                    .custom-sections .product-grid-item .price{display:inline-block}
                    .product-list-item .name{display:table}
                    .mega-menu .product-grid-item .wishlist{display:none}
                    .mega-menu .product-grid-item .compare{display:none}
                    .journal-carousel .product-grid-item .wishlist{display:inline-block}
                    .product-list-item .wishlist{display:inline-block}
                    .product-list-item .price{display:inline-block}
                    .side-column .journal-carousel .product-grid-item .wishlist{display:none}
                    .journal-carousel .product-grid-item .compare{display:inline-block}
                    .side-column .journal-carousel .product-grid-item .price{display:inline-block}
                    .product-list-item .compare{display:inline-block}
                    .product-list-item .cart{display:block}
                    .journal-carousel .product-grid-item .price{display:inline-block}
                    .journal-carousel .product-grid-item .name{display:table}
                    .mega-menu .product-grid-item .cart{display:block}
                    .side-column .journal-carousel .product-grid-item .compare{display:none}
                    .side-column .journal-carousel .product-grid-item .cart{display:block}
                    .custom-sections .product-grid-item .wishlist{display:inline-block}
                    .custom-sections .product-grid-item .cart{display:block}
                    .side-column .journal-carousel .product-grid-item .name{display:table}
                    .custom-sections .product-grid-item .compare{display:inline-block}
                    .custom-sections .product-grid-item .name{display:table}
                    .mega-menu .product-grid-item .name{display:table}
                    .column.products .product-grid-item .price, .side-column .oc-module .product-grid-item .price{display:inline-block}
                    .countdown > span{border-style:solid}
                            .product-info .right > div .countdown > span{border-style:solid;border-color: rgb(228, 228, 228)}
                            .product-info .right > div .countdown{background-color: rgb(169, 184, 192)}
                    .expire-text{background-color: rgb(0, 136, 255);padding-left:5px;padding-bottom:5px;padding-right:5px;text-align:left;font-weight: bold;font-style: normal;font-size: 14px;text-transform: none;color: rgb(255, 255, 255);padding-top:5px}
                                                                    span.p-comment:before{content: '\e1ae';font-size: 14px;color: rgb(0, 136, 255)}
                    span.p-date:before{content: '\e6b3';font-size: 14px;color: rgb(0, 136, 255)}
                    .blog-list-view .post-view-more.button{font-size: 16px}
                    span.p-author:before{content: '\e1b8';font-size: 14px;color: rgb(0, 136, 255)}
                            .blog-list-view .post-item-details .post-text{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 16px;text-transform: none;color: rgb(42, 43, 46)}
                                            .posts.blog-list-view .post-item-details h2 a{font-size: 16px;white-space:normal}
                    .post-view-more.button{border-width: 1px;border-radius: 30px;border-style: solid;border-color: rgb(22, 165, 247);font-size: 16px}
                    .post-item-details .comment-date{border-top-width: 1px;border-bottom-width: 1px;border-style: solid;border-color: rgb(204, 204, 204)}
                            .posts .post-wrapper h2 a{font-weight: bold;font-style: normal;font-size: 16px;text-transform: none;white-space:nowrap}
                            .post-wrapper{border-color: rgb(204, 204, 204);padding:10px 10px 0 10px;background-color: rgb(255, 255, 255)}
                .post-wrapper:hover{background-color: rgb(255, 255, 255)}
                .post-item-details{text-align:left;padding-right:15px;padding-left:15px}
                                .posts.blog-list-view .post-image{width:25%}
                    .journal-blog-feed:hover{color: rgb(0, 0, 0)}
                    .journal-blog-feed{right:15px;color: rgb(255, 255, 255)}
                .posts.blog-list-view .post-item-details h2 a span{border-bottom-style:solid}
                    .journal-blog-feed:before{content: '\e6b4';font-size: 16px;color: rgb(255, 255, 255)}
                                                                    .side-blog .box-post{padding-right:10px;padding-bottom:10px;padding-left:10px;padding-top:10px}
                                    .post-module .post-item-details{text-align:left}
                    .post-module .post-wrapper{background-color: rgb(255, 255, 255)}
                            .post-module .post-wrapper .post-item-details h2 a{white-space:normal}
                                    .side-blog .side-post + hr{border-bottom-style:solid}
                                                                            .blog-post .post-stats .p-category:before{content: '\e6b2';font-size: 14px;color: rgb(0, 136, 255)}
                            .comment-submit.button, .reply-submit.button, .comments .reply-btn{font-size: 16px}
                                    .comment-form form{padding:15px;background-color: rgb(250, 250, 250)}
                    .reply-form .comment-form form{background-color: rgb(238, 238, 238)}
                    .post-comment h3{text-align:left;color: rgb(255, 255, 255);margin-top:20px;padding-left:10px;padding-top:10px;padding-right:10px;padding-bottom:10px;background-color: rgb(234, 35, 73)}
                    .reply-form h3{text-align:left;color: rgb(255, 255, 255);margin-top:20px;background-color: rgb(234, 35, 73);padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px}
                                                                                    .comments .avatar{border-width: 2px;border-style: solid;border-color: rgb(169, 184, 192)}
                            .comments > h3{text-align:left;font-size: 16px;color: rgb(0, 0, 0);margin-top:20px;padding-left:10px;padding-bottom:10px;padding-top:10px;padding-right:10px;background-color: rgb(0, 136, 255)}
                            .post-details .tags{text-align:left}
                    .post-details .tags b{background-color: rgb(51, 55, 69)}
                            .post-details .tags a, .side-blog-tags .box-tag a{color: rgb(255, 255, 255)}
                    blockquote, blockquote font{color: rgb(119, 119, 119)!important}
                            .post-stats.comment-date{padding-top:10px;padding-right:10px;padding-bottom:10px;padding-left:10px;font-size: 16px;background-color: rgb(255, 255, 255)}
                    .post-details h2{font-size: 26px}
                    .post-details h3{font-size: 22px}
                    .post-details h1, .post-details h1 font{font-size: 32px}
                    .post-details{padding:15px;background-color: rgb(255, 255, 255)}
                    .post-details, .post-details p, .post-details font, .post-details > span, .post-details p font, .post-details p span{font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 16px;text-transform: none;color: rgb(0, 0, 0)}
                    .blog-post .social{text-align:left;border-top-style:solid}
                    .comments > .comment:nth-of-type(even){background-color: rgb(250, 250, 250)}
                    .comments > .comment:nth-of-type(odd){background-color: rgb(250, 250, 250)}
                    .comments .reply:nth-of-type(even){background-color: rgb(238, 238, 238)}
                    .comments .reply:nth-of-type(odd){background-color: rgb(238, 238, 238)}
                    .post-details .tags a:hover, .side-blog-tags .box-tag a:hover{background-color: rgb(0, 136, 255);color: rgb(255, 255, 255)}
                    .blog-post .heading-title{text-align:left;border-bottom-width: 2px;border-style: solid;border-color: rgb(238, 238, 238);font-weight: 300;font-family: "Roboto";font-style: normal;font-size: 32px;text-transform: none;color: rgb(0, 0, 0)}
                    .post-details, .post-details p, .post-details font, .post-details > span, .post-details p font, .post-details p span, .post-details strong{line-height:24px !important}
                    .journal-checkout .table-responsive{max-height:346px}
                    .journal-checkout .checkout-content{background-color: rgb(255, 255, 255)}
                    .one-page-checkout h1.heading-title{text-align:left}
                                                                            .journal-checkout .confirm-order{text-align:left}
                    .journal-checkout .secondary-title{text-align:left}
                    .journal-checkout .left .login-box .radio label, .journal-checkout .spw > div .radio label, .journal-checkout .confirm-order, .journal-checkout .checkout-login .form-group:last-of-type, .is-customer .journal-checkout .checkout-payment-form #payment-new, .is-customer .journal-checkout .checkout-shipping-form #shipping-new, .journal-checkout #payment-confirm-button fieldset legend, .journal-checkout .customer-group label.control-label, .journal-checkout .customer-group{border-style:solid}
                    .journal-checkout .checkout-cart tbody tr td, .journal-checkout .checkout-cart tbody td:first-of-type, .one-page-checkout .journal-checkout .checkout-product tbody td, .journal-checkout .checkout-cart thead td, .journal-checkout .checkout-cart thead td:first-of-type, .journal-checkout .checkout-cart thead td:last-of-type, .journal-checkout .checkout-cart tfoot tr:last-of-type td, .journal-checkout .checkout-cart tfoot td:first-of-type, .journal-checkout .checkout-cart tfoot td:last-of-type{border-style:solid}
                    #content.one-page-checkout div fieldset > div.fax-input{display:block !important}
                    .form-group.address-2-input{display:block}
                    .form-group.company-input{display:block !important}
                    .journal-checkout .spw > div p{display:none}
                                                            .flyout .fly-drop-down ul > li:hover > a, .flyout .fly-drop-down ul > li:hover{background-color: rgb(0, 136, 255)}
                                            .flyout .mega-menu-column > div > h3{text-align:left}
                    .flyout-menu .flyout .fly-drop-down ul li{border-bottom-style:solid}
                    .fly-drop-down ul{box-shadow:0 1px 8px -3px rgba(0, 0, 0, 0.5)}
                                                                    .flyout .mega-menu-brands div > h3{text-align:left}
                                                            .flyout .mega-menu div > h3{text-align:left}
                                                    .fly-mega-menu{box-shadow:0 2px 8px -2px rgba(0, 0, 0, 0.4)}
                                                    .flyout-menu .flyout > ul > li > a{border-bottom-style:solid}
                    .journal-accordion .journal-accordion-content > div{background-color: rgb(250, 250, 250)}
                    .journal-accordion .journal-accordion-heading{background-color: rgb(250, 250, 250);border-color: rgb(228, 228, 228)}
                .journal-accordion .journal-accordion-heading:hover{background-color: rgb(238, 238, 238)}
                                                                                            .information-page #content h1{font-weight: 400;font-family: "Roboto";font-style: normal;font-size: 32px;text-transform: none;color: rgb(0, 0, 0)}
                                                                    li.p-stock{display:none;}
                            .posts.blog-list-view .post-item-details{padding-bottom:10px;padding-top:10px}
                                    #total .right{font-size: 16px}
                                                    .side-column .box-category li a{background-color: rgb(255, 255, 255)}
                    .side-column .heading-title, .side-column .box-heading, .side-column #blogArticle .articleHeader h1, .side-column .journal-carousel .htabs.single-tab a.selected, .oc-filter .panel-heading, .oc-filter a.list-group-item{font-size: 20px}
                    .tablet #logo a img, .mobile #logo a img{max-width:250px}
                            #cart .heading i:hover::before, .firefox #cart .heading:hover i::before{color: rgb(0, 136, 255)}
                            #column-left{width:285px;padding-left:0px !important;}
                    div#content{padding-right:20px !important;;padding-bottom:20px !important;;padding-left:20px !important;;padding-top:20px !important;}
                    body::after{content:''; background-color: rgb(255, 255, 255)}
                            #column-right{width:285px}
                

/* Swipebox Loader */
    #swipebox-slider .slide {
    background-image: url('image/data/journal2/loader.gif');
    }
    .mfp-iframe-scaler iframe{
    background-image: url('image/data/journal2/loader.gif');
    background-repeat: no-repeat;
    background-position: center;
    }
    .social{
    background-image: url('image/data/journal2/loader.gif');
    }



@media only screen and (min-width: 760px){
.ui-pnotify{
  width:350px !important;
}
}




/* Site width */
#container, #header, #footer, .bottom-footer > div, .bottom-footer.boxed-bar {
max-width: 1220px;
}






    .product-page div.lg-sub-html{
        top:auto;
        bottom:0;
        padding: 13px 70px;
        background-color:;
    }
    .product-page .lg-toolbar{
        background-color:;
    }


    .product-page .heading-title{
    white-space:normal;
    height:auto;
    min-height:40px;
    line-height:1.2;
    padding-bottom:10px;
    padding-top:10px;
    }



    .category-info .image{
    display:none;
    }


/*Notification Position*/



    .ui-pnotify{
    right:20px;
    }
    html[dir="rtl"] .ui-pnotify{
    left:20px;
    right:auto;
    }


    .ui-pnotify{
    box-shadow:0px 1px 12px rgba(0, 0, 0, 0.2);
    }



    .ui-pnotify:hover .ui-pnotify-closer{
    opacity:1;
    }


    .breadcrumb{
    text-align:left;
    }




/* Product Grid Shadow */

    .product-grid-item:hover .product-wrapper{
    box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);
    }






















.product-grid-item .enquiry-button .button i{
  color:rgb(255, 255, 255);
}
.product-list-item .enquiry-button .button i{
  color:rgb(255, 255, 255);
}

footer .contacts > div > span .contact-icon:hover{
  background-color:rgb(66, 139, 202);
}



    .product-grid-item .cart .button-left-icon::before,
    .product-grid-item .enquiry-button i::before{
    margin-right: 6px;
    }

    .product-grid-item .cart .button-right-icon{
    display:none !important;
    }




/* BLOG */




    .post-wrapper:hover{
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    }





    .post-item .post-wrapper{
      box-shadow: none !important;
    }














    .product-details:before {
    display:none;
    }



/* Product Grid Quickview*/

    .product-grid-item:hover .quickview-button {
    opacity: 1;
    visibility: visible;
    }






    .product-grid-item .quickview-button .button-right-icon{
    display:none;
    }



    .product-grid-item .quickview-button .button-left-icon:before{
    float:none;
    }
    .product-grid-item .quickview-button .button-right-icon:before{
    margin-left:0;
    }
    .product-grid-item .quickview-button .button-cart-text{
    display:none;
    }
    .product-grid-item .quickview-button [data-hint]:after,
    .product-grid-item .quickview-button .hint--top:before{
    display:block;
    }
    .product-grid-item .quickview-button .hint--top:before{
    border-top-color: rgb(66, 139, 202);
    }
    .product-grid-item .quickview-button .hint--right:before{
    border-right-color: rgb(66, 139, 202);
    }
    .product-grid-item .quickview-button .hint--left:before{
    border-left-color: rgb(66, 139, 202);
    }





/* Product Grid Wishlist/Compare */



    .product-grid-item .wishlist a i,
    .product-grid-item .compare a i{
    border:0;
    background-color:transparent !important;
    padding:0 5px;
    }
    .product-grid-item .wishlist a i:before,
    .product-grid-item .compare a i:before{
    line-height:100%;
    }








    .product-list-item .quickview-button .button{
    width:40px;
    height:40px;
    line-height:40px;
    padding:0;
    }




    .product-grid-item .quickview-button .button{
    width:40px;
    height:40px;
    line-height:40px;
    padding:0;
    }


/* Product List */

    .product-list-item:hover{
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }







    .product-list-item .cart .button-left-icon:before,
    .product-list-item .enquiry-button i:before{
    margin-right: 8px;
    }

    .product-list-item .cart .button-right-icon{
    display:none;
    }





/* Product List Quickview*/
    .product-list-item:hover .quickview-button {
    opacity: 1;
    visibility: visible;
    }



    .product-list-item .quickview-button .button-right-icon{
    display:none;
    }



    .product-list-item .quickview-button .button-left-icon:before{
    float:none;
    }
    .product-list-item .quickview-button .button-right-icon:before{
    margin-left:0;
    }
    .product-list-item .quickview-button .button-cart-text{
    display:none;
    }
    .product-list-item .quickview-button .button[data-hint]:after,
    .product-list-item .quickview-button .hint--top:before{
    display:block;
    }
    .product-list-item .quickview-button .hint--top:before{
    border-top-color: rgb(66, 139, 202);
    }
    .product-list-item .quickview-button .hint--right:before{
    border-right-color: rgb(66, 139, 202);
    }
    .product-list-item .quickview-button .hint--left:before{
    border-left-color: rgb(66, 139, 202);
    }



/* Product Page */

#product-gallery.image-additional-grid a{
width: 33.333333333333%;
}


    #button-cart .button-cart-text:after{
    display:none;
    }




.compare-info td{
border-right-style:solid;
}
table.list{
border-bottom-style:solid;
border-left-style:solid;
}
table.list td{
border-right-style:solid;
border-top-style:solid;
}



/* Product Labels*/

.label-latest + .label-sale{
top: 30px;
}

    .label-latest{
    display:none !important;
    }





#more-details.hint--top:before{
border-top-color: rgb(0, 136, 255);
}

.boxed-header header{
max-width:1220px;
}
.boxed-header .super-menu > li:first-of-type{
border-left-width:0;
}
.boxed-header .super-menu > li:last-of-type{
border-right-width:0;
}




@media only screen and (max-width: 760px){
.journal-language .dropdown-toggle,
.journal-currency .dropdown-toggle{
color:;
}
.journal-header-center #language,
.journal-header-center #currency{
border-color:;
}
}

.sticky-menu .is-sticky .journal-header-default .header{
background-color: rgb(255, 255, 255);
}



html[dir="rtl"] .journal-carousel .htabs a:last-of-type{
border-left-color:rgb(255, 255, 255);
}

.boxed-header .journal-header-center .journal-links{
padding-left: 10px;
}
.boxed-header .journal-header-center .journal-search{
padding-left: 20px;
}
.boxed-header .journal-header-center .journal-secondary{
padding-right: 10px;
}



.journal-header-center .journal-center-bg{
  top:40px;
}

#cart {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}



#cart .cart-wrapper {
    box-shadow: 0 3px 15px -3px rgba(0, 0, 0, 0.25);
}


#search input{
  box-shadow:none;
}



.autocomplete2-suggestions{
    box-shadow: 0 3px 15px -3px rgba(0, 0, 0, 0.25);
}


@media only screen and (max-width: 760px) {
ul.super-menu > li > a,
ul.super-menu > li:hover > a{
color:;
}
ul.super-menu > li,
ul.super-menu > li:hover{
background-color:;
}
.boxed-header .journal-header-center .journal-search,
.boxed-header .journal-header-center .journal-links{
padding-left: 0;
}
.boxed-header .journal-header-center .journal-cart,
.boxed-header .journal-header-center .journal-secondary{
padding-right: 0;
}
.button-search{
background-color:;
}
.button-search i:before{
color: !important;
}
}


.product-filter .product-compare {
    display: flex;
}



@media only screen and (max-width: 980px) {
.mobile-menu-on-tablet ul.super-menu > li > a,
.mobile-menu-on-tablet ul.super-menu > li:hover > a{
color:;
}
.mobile-menu-on-tablet ul.super-menu > li,
.mobile-menu-on-tablet ul.super-menu > li:hover{
background-color:;
}
}

    @media only screen and (min-width:760px) and (max-width:1235px) {
    .journal-header-center .journal-search{
    padding-left: 15px;
    }
    .journal-header-center .journal-cart{
    padding-right: 15px;
    }
    .journal-header-center .journal-cart{
    width:calc(25% - 20px);
    padding-right:0;
    }
    html[dir="rtl"] .journal-header-center .journal-search{
    padding-right: 15px;
    }
    }
    @media only screen and (max-width:760px) {
    .journal-header-center .journal-search,
    html[dir="rtl"] .journal-header-center .journal-search{
    padding-left: 0;
    padding-right: 0;
    }
    .journal-header-center .journal-cart,
    html[dir="rtl"] .journal-header-center .journal-cart{
    padding-right: 0;
    padding-left: 0;
    }
    }


@media only screen and (min-width: 760px){
.boxed-header .journal-header-center .journal-cart{
padding-right:15px;
}
html[dir="rtl"] .boxed-header .journal-header-center .journal-cart{
padding-right:0;
padding-left:15px;
}
}

@media only screen and (min-width: 1220px) {
.sticky-menu:not(.boxed-header) .is-sticky .journal-header-compact #header .journal-menu .super-menu > li:first-of-type > a {
margin-left: 0;
}
.skin-16 .journal-header-mega .journal-search {
    padding-right: 0;
}
}

@media only screen and (max-width: 1235px) {
.super-menu, .mega-menu, .html-menu{
    border-radius:0;
}
.bottom-footer.fullwidth-bar .copyright{
padding-left: 15px;
}
.bottom-footer.fullwidth-bar .payments{
padding-right: 15px;
}

#top-modules > div:not(.gutter),
#bottom-modules > div:not(.gutter){
padding-left: 20px;
padding-right: 20px;
}

#top-modules .journal2_slider,
#bottom-modules .journal2_slider,
#top-modules .journal2_headline_rotator{
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.no-secondary .journal-header-center #currency{
border-right-width:0;
}
.no-secondary .journal-header-center #language{
border-left-width:0;
}
html[dir="rtl"].no-secondary .journal-header-center #currency{
border-left-width:0;
border-right-width:1px;
}
html[dir="rtl"].no-secondary .journal-header-center #language{
border-right-width:0;
border-left-width:1px;
}
.journal-header-compact #header .journal-search {
padding-right:15px !important;
}
html[dir="rtl"] .journal-header-compact #header .journal-search {
padding-right:0 !important;
padding-left:15px !important;
}
.sticky-menu .is-sticky .journal-header-default .journal-menu .super-menu > li:first-of-type{
border-left-width:0;
}
.sticky-menu .is-sticky .journal-header-default .journal-menu .super-menu > li:last-of-type{
border-right-width:0;
}
.boxed-header body{
padding:0;
}
.fullwidth-footer .columns{
padding-left: 15px;
}
.copyright{
padding-left: 15px;
}
.journal-header-mega .journal-logo{
padding-left:15px;
}
html[dir="rtl"] .journal-header-mega .journal-logo{
padding-left:0;
padding-right:15px;
}
}

@media only screen and (max-width: 760px){
.journal-header-mega .journal-logo{
padding-left:0;
}
html[dir="rtl"] .journal-header-mega .journal-logo{
padding-left:0;
padding-right:0;
}
}

.boxed-header .journal-header-mega .journal-logo{
padding-left:15px;
}
html[dir="rtl"].boxed-header .journal-header-mega .journal-logo{
padding-left:0;
padding-right:15px;
}

@media only screen and (min-width : 760px) {
.side-blocks-active .journal-fullwidth-slider .tp-leftarrow,
.side-blocks-active .journal-fullwidth-slider .tp-leftarrow.default {
left: 60px !important;
}
.side-blocks-active .journal-fullwidth-slider .tp-rightarrow,
.side-blocks-active .journal-fullwidth-slider .tp-rightarrow.default {
right: 60px !important;
}
html[dir="rtl"].side-blocks-active .journal-fullwidth-slider .tp-leftarrow,
html[dir="rtl"].side-blocks-active .journal-fullwidth-slider .tp-leftarrow.default {
right: 60px !important;
left: auto !important;
}
html[dir="rtl"].side-blocks-active .journal-fullwidth-slider .tp-rightarrow,
html[dir="rtl"].side-blocks-active .journal-fullwidth-slider .tp-rightarrow.default {
left: 60px !important;
right: auto !important;
}
}





    header .links a, 
    header .links .no-link{
    border-bottom-color:#e4e4e4;
    }

.boxed-header.default-header .journal-top-header{
clip: rect(0px,1220px,45px,0px);
}

.journal-header-default .links .no-link{
border-color:}

.journal-header-center #cart .content:before,
.oc2 #cart .content .cart-wrapper:before{
color:rgb(255, 255, 255)}

.journal-header-center .autocomplete2-suggestions:before{
color:rgb(244, 244, 244)}


.journal-language .dropdown-menu:before,
.journal-currency .dropdown-menu:before{
color:rgb(255, 255, 255)}

#header .top-menu .top-dropdown li:first-of-type {
border-top-left-radius: px;
border-top-right-radius: px;
}
#header .top-menu .top-dropdown li:last-of-type {
border-bottom-left-radius: px;
border-bottom-right-radius: px;
}
#header .top-menu .top-dropdown li:first-of-type::before{
color:}

#search ::-webkit-input-placeholder {
color:rgb(153, 153, 153);
font-family: inherit;
}
#search :-moz-placeholder {
color:rgb(153, 153, 153);
font-family: inherit;
}
#search ::-moz-placeholder {
color:rgb(153, 153, 153);
font-family: inherit;
}
#search :-ms-input-placeholder {
color:rgb(153, 153, 153);
font-family: inherit;
}
.compare-info tbody td{
    border-left-style:solid;
}
@media only screen and (max-width: 760px){
#search ::-webkit-input-placeholder {
color:;
font-family: inherit;
}
#search :-moz-placeholder {
color:;
font-family: inherit;
}
#search ::-moz-placeholder {
color:;
font-family: inherit;
}
#search :-ms-input-placeholder {
color:;
font-family: inherit;
}
}

.button-search{
border-right-style:solid;
border-right-color:rgb(238, 238, 238);
}
html[dir="rtl"] .button-search{
border-left-style:solid;
border-left-color:rgb(238, 238, 238);
}

html[dir="rtl"].journal-desktop .menu-floated .float-left{
border-left-style: none;
}




header .journal-login{
border-bottom-color:rgb(238, 238, 238);
}


.super-menu > li:last-of-type{
border-right-color:rgb(238, 238, 238);
border-right-style:none;
}

@media only screen and (max-width: 760px) {
.default-header .journal-login{
background-color: rgb(255, 255, 255)}
.journal-header-center #search input,
.journal-header-center .button-search{
border-radius:0;
}
.center-header #search input, .default-header #search input{
background-color:rgb(250, 250, 250);
}
.center-header header #cart, .default-header header #cart{
background-color:;
}
.journal-menu .mobile-menu > li{
border-color:rgb(238, 238, 238);
border-style:none;
}
}

.inline-button .product-details{
padding-bottom:0;
}








    .product-info .right .options h3{
    display:none;
    }
    .product-info .right .option-image:first-of-type{
    margin-top:0;
    }

.product-info .right .options.push-1 .option-image li.selected span img{
border-color:rgb(234, 35, 73);
}

.mega-menu-categories .mega-menu-item,
.mega-menu-brands .mega-menu-item,
.mega-menu-html .mega-menu-item,
#header .mega-menu .product-grid-item{
margin-bottom:30px;
}

html[dir="rtl"].journal-desktop .menu-floated .float-right:last-of-type{
border-right-style:none;
}

html[dir="rtl"].journal-desktop .menu-floated .float-right:last-of-type{
border-color:rgb(238, 238, 238);
}

.mega-menu > div{
margin-bottom:-30px !important;
margin-right:-30px;
}

html[dir="rtl"] .mega-menu-item > div,
html[dir="rtl"] #header .mega-menu .product-wrapper{
margin-right:0;
margin-left:30px;
}

.mega-menu .mega-menu-column:last-of-type > div{
margin-right:-30px;
}
html[dir="rtl"] .mega-menu .mega-menu-column.mega-menu-products > div{
margin-left:-30px;
}

.mega-menu-column > div > h3, .mega-menu .mega-menu-column .menu-cms-block{
margin-right:30px;
}
html[dir="rtl"] .mega-menu-column > div > h3, html[dir="rtl"] .mega-menu .mega-menu-column .menu-cms-block{
margin-right:0;
margin-left:30px;
}
.mega-menu .mega-menu-column:last-of-type > h3,
.mega-menu .mega-menu-column:last-of-type > div > h3,
.mega-menu .mega-menu-column:last-of-type > .menu-cms-block,
.mega-menu .mega-menu-column.mega-menu-html-block > div{
margin-right:0;
}

@media only screen and (max-width: 760px) {
.super-menu{
border-width:0;
}
.mega-menu .mega-menu-column > div{
margin-right:-30px;
}
html[dir="rtl"] .mega-menu .mega-menu-column > div{
margin-left:-30px;
margin-right:0;
}
}

.journal-sf .sf-image .box-content ul{
margin-bottom:-10px;
margin-right:-10px;
}

    .p-author, .p-posted{
    display:none !important;
    }


    .p-comment{
    display:none !important;
    }





























    footer .contacts{
    text-align:center;
    }
    footer .contacts-left,
    html[dir="rtl"] footer .contacts-left{
    float: none;
    }
    footer .contacts-right{
    display: none;
    }

.has-cta .rotator-tex{
line-height:px;
}

footer .contacts .hint--top:before{
border-top-color: rgb(66, 139, 202);
}


.side-column .box-category,
.side-column .box-content,
.side-column .box-content > div,
.side-column .box-content > ul > li:last-of-type,
.side-column .oc-module .product-grid-item:last-of-type{
border-bottom-left-radius: inherit;
border-bottom-right-radius: inherit;
border-radius:inherit;
}


.journal-sf ul li label:hover{
color:rgb(234, 35, 73);
}
.sf-icon:before{
border-top-color:rgb(63, 87, 101);
}

/*
.journal-sf ul li label:hover img{
border-color:rgb(169, 184, 192);
} */

.sf-price .value:after{
border-bottom-color:rgb(95, 104, 116);
}

.mobile-trigger{
background-color:rgb(255, 255, 255);
}


.journal-header-default .links > a{
border-bottom-color: transparent;
}

@media only screen and (max-width: 760px) {
.super-menu{
background-color:rgb(255, 255, 255);
}
.journal-header-default .links > a{
border-bottom-color: ;
}
}
.nav-numbers a:hover,
.nav-numbers li.active a{
-webkit-backface-visibility: hidden;
-webkit-transform: scale(1);
-moz-transform: scale(1);
-ms-transform: scale(1);
transform: scale(1);
}
.headline-mode .nav-numbers a:hover,
.headline-mode .nav-numbers li.active a{
-webkit-backface-visibility: hidden;
-webkit-transform: scale();
-moz-transform: scale();
-ms-transform: scale();
transform: scale();
}
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.round .bullet:hover,
.journal-simple-slider .owl-controls .owl-page.active span,
.journal-simple-slider .owl-controls.clickable .owl-page:hover span{
transform: scale(1.4);
}

.swiper-pagination-bullet:hover, .swiper-pagination-bullet-active{
transform: scale(1);
}

@media only screen and (max-width: 980px) {
.journal-header-default .mega-menu{
width: 100%;
}
}

@media only screen and (max-width: 760px) {
.journal-header-center .journal-secondary{
background-color:rgb(250, 249, 249);
}
}

.mega-menu{
max-width:1220px;
}

@media only screen and (max-width: 760px){
.bottom-menu-bar #header .top-menu > li{
border-color:;
}
.bottom-menu-bar #header .journal-links{
background-color:rgb(250, 249, 249);
}
.bottom-menu-bar .journal-header-center .journal-secondary {
border-top-width: 0;
}
.bottom-menu-bar #header .journal-links ul.top-menu > li{
border-color:rgb(95, 104, 116);
}
.bottom-menu-bar #header div.journal-links, .bottom-menu-bar #header .journal-links a:hover{
background-color:rgb(52, 73, 94);
}
.bottom-menu-bar #header .journal-links ul.top-menu > li > a,
.bottom-menu-bar #header .journal-links ul.top-menu > li > a:hover,
.bottom-menu-bar #header .journal-links ul.top-menu > li > .no-link{
color:rgb(228, 228, 228);
}
}

.boxed-header .is-sticky .header {
    max-width:1220px;
    left: 50%;
    transform: translateX(-50%);
}

.is-sticky .super-menu, .is-sticky .journal-menu-bg {
    box-shadow: none;
}



.bottom-menu-bar #header .journal-links .top-menu .top-dropdown li:last-of-type::after{
  color:;
}

@media only screen and (min-width : 760px) and (max-width: 980px) {
.mobile-menu-on-tablet .mobile-menu > li > ul,
.mobile-menu-on-tablet .mobile-menu > li > .mega-menu{
  border-style:solid;
  border-color:;
}
.mobile-menu-on-tablet ul.menu-centered{
  height:auto;
}
}

@media only screen and (max-width: 760px){
.mobile-menu > li > ul,
.mobile-menu > li > .mega-menu{
  border-style:solid;
  border-color:;
}
}

@media only screen and (min-width: 760px) {
.journal-header-mega #search {
    max-width: 100%;
    left: 0px;
}
.journal-header-center .j-100{
height:140px;
}
.journal-header-center .journal-menu-bg{
top:180px;
}
.journal-header-center .top-bar > .j-min, .journal-header-center .top-menu > li > .m-item, .journal-header-center .journal-top-header{
height:40px;
}
.journal-header-center .journal-menu,
.journal-header-center .journal-menu-bg,
.journal-header-center .mobile-trigger,
ul.menu-centered{
height:40px;
}
.journal-header-center .mobile-trigger,
.journal-header-center .super-menu > li > a{
line-height:40px;
}
.journal-header-center .journal-language form .dropdown-menu,
.journal-header-center .journal-currency form .dropdown-menu{
top:40px;
}

.sticky-default.center-header .is-sticky .journal-header-center .j-100{
height:px;
}
.sticky-default.center-header .is-sticky .journal-menu-bg{
top:px;
}

.is-sticky .journal-header-center .journal-menu,
.is-sticky .journal-header-center .journal-menu-bg,
.is-sticky .journal-header-center .mobile-trigger{
height:40px;
}
.is-sticky .journal-header-center .mobile-trigger,
.is-sticky .journal-header-center .super-menu > li > a{
line-height:40px;
}
}

@media only screen and (max-width: 760px){
#header .journal-logo{
height:94px !important;
}
}

.center-header body.is-sticky .header-assets.top-bar{
  background-color:rgb(250, 249, 249);
}






@media only screen and (min-width : 760px) and (max-width: 980px) {
.mobile-menu-on-tablet .journal-header-center .journal-menu{
height:auto;
}
.mobile-menu-on-tablet .journal-header-center .super-menu > li > a{
line-height:40px;
}
}











#tabs{
  top:;
}

.product-grid-item.display-icon .wishlist-icon:before,
.product-grid-item.display-icon .compare-icon:before{
line-height:35px;
}

.journal-header-center #cart .heading i{
height:40px;
}

.journal-desktop .menu-floated .float-left{
border-right-style:none;
}

.column.products > h3{
margin-bottom:8px;
}
.column.products{
padding-bottom:8px;
}

.side-column .journal-gallery .box-heading{
margin-bottom:0px;
}

.side-column .box-category > ul li ul li a{
padding-left: 17px;
}
.side-column .box-category > ul li ul li ul li a{
padding-left: 24px;
}
.side-column .box-category > ul li ul li ul li ul li a{
padding-left: 31px;
}
.side-column .box-category > ul li ul li ul li ul li ul li a{
padding-left: 38px;
}
.side-column .box-category > ul li ul li ul li ul li ul li ul li a{
padding-left: 45px;
}

@media only screen and (max-width: 1235px) {
.breadcrumb{
padding-left:10px;
}
.super-menu > li:first-of-type{
border-left-width:0;
}
.super-menu > li:last-of-type{
border-right-width:0;
}
html[dir="rtl"] .super-menu > li:first-of-type{
border-left-width:1px;
border-right-width:0;
}
html[dir="rtl"] .super-menu > li:last-of-type{
border-left-width:0;
}
html[dir="rtl"] .super-menu.menu-floated > li:first-of-type
border-right-width:0;
}
}

.super-menu.menu-floated{
border-right-width:1px;
border-left-width:1px;
border-color:rgb(238, 238, 238);
border-style:none;
}




.custom-sections .box-heading.box-sections{
border-left-style:solid;
}

.journal-carousel:not(.journal-gallery) .box-content .swiper-container{
padding: px;
margin: -px;
}

.journal-carousel.arrows-top .swiper-button-prev,
.journal-carousel.arrows-top .swiper-button-next{
    margin-top:px;
}

.side-column .journal-carousel.arrows-top .swiper-button-prev,
.side-column .journal-carousel.arrows-top .swiper-button-next,
.related-products.journal-carousel.arrows-top .swiper-button-prev,
.related-products.journal-carousel.arrows-top .swiper-button-next{
    margin-top:0;
}



.extended-container + .boxed-footer #footer{
    margin-top:0px;
}


.side-column .journal-carousel .htabs {
    margin-bottom: 0;
}
.side-column .arrows-top:not(.journal-gallery) .swiper-button-prev,
.side-column .arrows-top:not(.journal-gallery) .swiper-button-next {
    margin-top:20px;
}




.side-column .journal-carousel .box-content .swiper-container{
    padding:0;
    margin:0;
}
html[dir="rtl"] .journal-carousel.arrows-top .swiper-button-next{
right:auto;
left:25px;
}

html[dir="rtl"] .journal-carousel.arrows-top .swiper-button-prev{
right:auto;
left:0px;
}

html[dir="rtl"] .journal-carousel:not(.arrows-top) .swiper-button-next{
right:auto;
left:10px;
}

html[dir="rtl"] .journal-carousel:not(.arrows-top) .swiper-button-prev{
left:auto;
right:10px;
}





    html[dir="rtl"] footer .column-menu-wrap > ul li{
    text-align:right;
    }



    html[dir="rtl"] footer .column>h3{
    text-align:right;
    }




    .blog-post .heading-title{
    white-space:normal;
    height:auto;
    line-height:1.2;
    padding:8px 0;
    }

    .post-module .box-heading{
    white-space:normal;
    height:auto;
    line-height:1.2;
    padding-top:8px;
    padding-bottom:8px;
    }

.posts.blog-list-view .post-item-details{
width: 75%;
}

.side-column .box.cms-blocks .box-heading{
margin-bottom:px;
}

@media only screen and (min-width: 1235px) {
.safari5 #footer,
.safari5.boxed-header header{
   width: 1220px;
}
.tp-banner{
  height:100% !important;
}
}


@media only screen and (max-width: 1235px) {

.tp-banner-container{
   height:auto !important;
}

.side-column .oc-module .product-details {
max-width: 130px;
}
.checkout-page #content {
padding-left: 20px;
padding-right: 20px;
}
}

@media only screen and (max-width: 760px){
    .product-grid-item .has-countdown + .product-details .rating{
        top:-50px;
    }
    .product-grid-item .image.has-countdown .wishlist,
    .product-grid-item .image.has-countdown .compare{
        margin-bottom:42px;
    }
}

    .product-grid-item:hover .countdown,
    .product-list-item:hover .countdown {
        opacity: 1;
        visibility: visible;
    }
    .product-grid-item:hover .has-countdown + .product-details .rating{
        top:-70px;
    }
    .product-grid-item:hover .image.has-countdown .wishlist,
    .product-grid-item:hover .image.has-countdown .compare{
        margin-bottom:42px;
    }


    





.option li.hint--top:before{
border-top-color:;
}


    @media only screen and (max-width: 470px) {
    .phone-sticky-cart.menu-cart-off .journal-menu .mobile-trigger{
    width:100%;
    }
    header .journal-menu .mobile-trigger {
    width: 50%;
    margin-top: -40px;
    z-index: 3;
    background-color:transparent;
    }
    .journal-cart{
    z-index:2;
    background-color:rgb(234, 35, 73)    }
    }

.phone-sticky-cart.phone-sticky-menu:not(.menu-cart-off) .journal-menu{
z-index:1;
}

    @media only screen and (max-width: 470px){
    div.mobile-trigger, .mobile-menu-on-tablet div.mobile-trigger{
    color:;
    }
    div.mobile-trigger:before, .mobile-menu-on-tablet div.mobile-trigger:before{
    color:;
    }
    }

.journal-header-center #header .menu-dropdown::before{
border-bottom-color:}

.header-notice > div{
max-width:1220px;
}

@media only screen and (max-width:1235px){
.header-notice > div{
padding-left:15px;
padding-right: 15px;
}
.header-notice.floated-icon > div{
padding-bottom:10px;
}
button.close-notice {
    right: 8px;
  }
  html[dir="rtl"] button.close-notice {
    right: auto;
    left: 8px;
  }
}












    footer{
    box-shadow: 0 -2px 15px -3px rgba(0, 0, 0, 0.3);
    }



    .journal-top-header{
    box-shadow:none;
    }


/* Content Margin */

@media only screen and (min-width: 760px){
#column-left + #content {
margin-left: 285px;
}
#column-right + #content {
margin-right: 285px;
}

#column-left + #column-right + #content{
margin-left: 285px;
margin-right: 285px;
}
}

/* Tablet Column Width + Content Margin */

@media only screen and (min-width:760px) and (max-width:980px) {
#column-left {
width: 285px;
}
#column-right{
width: 250px;
}
#column-left + #content {
margin-left: 285px;
}
#column-right + #content {
margin-right: 250px;
}
#column-left + #column-right + #content{
margin-left: 285px;
margin-right: 250px;
}
}

/* Extended Layout Margins */

@media only screen and (min-width:760px) and (max-width: 1235px) {
.skin-16 .journal-header-center .journal-search {
    padding-left: 30px;
}
.extended-layout #column-left{
padding-left:20px;
}
.extended-layout #column-right{
padding-right:20px;
}
.extended-layout #content,
.extended-layout #column-left + #content,
.extended-layout #column-right + #content{
padding-left:20px;
padding-right:20px;
}
html[dir="rtl"].extended-layout #column-left{
padding-right:20px!important;
}
html[dir="rtl"].extended-layout #column-right{
padding-left:20px !important;
}
html[dir="rtl"].extended-layout #column-left + #content {
margin-right: 285px;
margin-left: 0;

}
html[dir="rtl"].extended-layout #column-right + #content {
margin-right: 0;
}
}

.mega-menu .mega-menu-column .menu-cms-block{
    margin-bottom:30px;
}

.fly-drop-down ul li{
    min-height:40px;
}
  
@media only screen and (max-width: 760px){
.product-grid-item .rating{
    margin-left:px;
}    
.product-grid-item .rating{
    top:px;
}  
}

/* RTL Columns */


    html[dir="rtl"] .flyout-left .fly-mega-menu,
    html[dir="rtl"] .flyout-left .fly-drop-down > ul {
    left: auto;
    right: 100%;
    }
    html[dir="rtl"] .flyout-right .fly-mega-menu,
    html[dir="rtl"] .flyout-right .fly-drop-down > ul {
    left: 100% !important;
    right: auto;
    }
    html[dir="rtl"] .flyout-menu .flyout > ul > li > a i.menu-plus {
    left: 5px;
    right: auto;
    transform: scale(-1);
    }
    html[dir="rtl"] #column-right .flyout-menu .flyout > ul > li > a i.menu-plus {
    left: auto;
    right: 8px;
    transform: scale(1);
    }
    html[dir="rtl"] .flyout-menu .flyout > ul > li > a {
    padding: 7px 12px 7px 25px;
    }
    html[dir="rtl"] #column-right .flyout-menu .flyout > ul > li > a {
    padding: 7px 25px 7px 12px;
    text-align:left;
    }


    html[dir="rtl"] #column-left {
    float: right;
    }
    html[dir="rtl"] #column-right {
    float: left;
    }


    @media only screen and (min-width: 760px){

    html[dir="rtl"] #column-left {
    padding: 20px 20px 20px 0;
    }
    html[dir="rtl"] #column-right {
    padding: 20px 0 20px 20px;
    }

    html[dir="rtl"] #column-left + #content {
    margin-right: 285px;
    margin-left: 0;

    }
    html[dir="rtl"] #column-right + #content {
    margin-left: 285px;
    margin-right: 0;
    }

    html[dir="rtl"] #column-left + #column-right + #content{
    margin-right: 285px;
    margin-left: 285px;
    }

    }

    @media only screen and (min-width : 760px) and (max-width: 980px) {

    html[dir="rtl"] #column-left + #content {
    margin-right: 285px;
    margin-left:0;
    }
    html[dir="rtl"] #column-right + #content {
    margin-left: 250px;
    margin-right:0;
    }
    html[dir="rtl"] #column-left + #column-right + #content{
    margin-right: 285px;
    margin-left: 250px;
    }

    html[dir="rtl"].extended-layout #column-left + #content {
    margin-right: 285px;
    margin-left: 0;

    }
    }

    @media only screen and (min-width: 1235px) {
    html[dir="rtl"].extended-layout #column-left{
    padding-right:0;
    }
    html[dir="rtl"].extended-layout #column-right{
    padding-left:0;
    }
    html[dir="rtl"].extended-layout #column-right + #content {
    padding-left: 20px;
    padding-right: 0;
    }
    html[dir="rtl"].extended-layout #column-left + #content {
    padding-right: 20px;
    padding-left: 0;
    }
    }



.refine-images::before,
#refine-images::before,
.category-list::before{
content:"";
margin-right:px;
}
.refine-image {
padding-right: 15px;
margin-bottom: 15px;
}
.refine-images {
margin-right: -15px;
margin-bottom: 0px;;
}

.product-grid-item {
margin-bottom: 0px;
}
.product-wrapper,
.ias-button,
.ias-loader,
.ias-noneleft{
margin-right: 0px;
}
.ias-button,
.ias-loader,
.ias-noneleft{
margin-top: 20px;
}
.product-grid, #content .box-product{
margin-right: -0px;
}

/* Mobile Product Spacing */

@media only screen and (max-width: 760px){
#cart .heading i::before{
    color:;
}
#cart .heading i{
    background-color:;
}
div#container,
.home-page div#container {
    margin-top: 0;
    margin-bottom: 0;
    box-shadow:none;
}
  .product-grid-item:not(.swiper-slide) {
    margin-bottom: 0px;
  }
  .product-grid-item:not(.swiper-slide) .product-wrapper,
  .ias-button,
  .ias-loader,
  .ias-noneleft{
    margin-right: 0px;
  }
  .product-grid, #content .box-product{
    margin-right: -0px;
  }
}

.button:active{
    box-shadow:;
}

#column-left .oc-module .product-details{
    max-width:210px;
}

#column-right .oc-module .product-details{
    max-width:210px;
}




/* Custom CSS */
.phone_txt {font-size: 12px;}
.phone_numb a{color: #3a3a3a; font-size: 22px; font-weight: 700;}
.mail_numb a{color:#3a3a3a;}
.oc2 .fa {font-size: 16px; top: -2px; padding-right: 10px; color: #16a5f7;}
.product-info .right .cart div .qty {width: 20%;}
.product-info .right .cart div .button {width: 40%;}
.post-text {line-height: 22px;}
.category-info h2 {margin-bottom: 1rem;}
.category-info p {margin-bottom: 1rem;}
.option-select select {background: #ffffff; padding: 5px;font-size: 16px;border-color:#16a5f7;}
@media only screen and (min-width: 980px) {
.option-select select {width:25%;}
}
.heading-title {width: fit-content;}
.checkout-heading a {color: #16a5f7 !important;}
